<div class="container-fuild p-4">
  <div class="row p-0">
    <div class="border shadow rounded rounded-4 bg-light">
      <h2 class="fw-bold pt-2">
        <span>Fiche du role : </span> <span class="text-danger">{{role.nom_role}}</span>
      </h2>
    </div>
    <div class="mt-2">
      <form
        #userform="ngForm"
        class="row border p-2 rounded rounded-4 needs-validation"
      >
        <div class="col-lg-12">
          <label for="validationCustom01" class="form-label label">Role</label>
          <input
            type="text"
            readonly
            class="form-control"
            name="role.nom_role"
            [(ngModel)]="role.nom_role"
          />
        </div>

        <div class="col-lg-12 mt-3">
          <label for="validationCustom01" class="form-label label"
            >Permissions</label
          >
          <textarea
            class="form-control"
            readonly
            name="role.permissions"
            [(ngModel)]="role.permissions"
            rows="2"
          ></textarea>
        </div>

        <div class="mt-3">
          <div class="row">
            <div class="col-lg-3">
              <button
                type="button"
                class="form-control bg-update text-white"
                (click)="updaterole()"
              >
                Mofifier <i class="fa-solid text-white fa-pen"></i>
              </button>
            </div>
            <div class="col-lg-3">
              <button
                type="button"
                class="form-control bg-delete text-white"
                (click)="deleteRole()"
              >
                Supprimer <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
