<main class="nxl-container">
    <div class="nxl-content">
      <div class="col-lg-8 m-lg-auto py-4 px-lg-5">
        <div class="row">
          <div class="col-12 mt-1">
         
            <form
              #paymentForm="ngForm"
              (ngSubmit)="onSubmitForm(paymentForm)"
              class="row px-5 py-4 rounded rounded-4 bg-white p-3 needs-validation"
            >

                <div class="col-lg-8">
                    <h1 class="rounded pb-5 fw-bold rounded-4 text-uppercase ">
                        paiement commande ID <span>{{commande_achat_id}}</span>
                      </h1>
                </div>
                <div class="col-lg-4 text-end ">
                    <img class="w-50" src="assets/images/images.jpeg" alt="">
                </div>

              <div class="col-lg-6">
                <label for="commandeAchatId" class="form-label label"
                  >ID Commande <span class="title-bg-global-secondary"> * </span></label
                >
                <input
                  type="number"
                  class="form-control"
                  name="commande_achat_id"
                  [(ngModel)]="commande_achat_id"
                  required
                />
              </div>
  
              <div class="col-lg-6">
                <label for="montant" class="form-label label"
                  >Montant <span class="title-bg-global-secondary"> * </span></label
                >
                <input
                  type="number"
                  class="form-control"
                  name="montant"
                  [(ngModel)]="montant"
                  required
                />
              </div>
  
              <div class="col-lg-6 mt-3">
                <label for="datePaiement" class="form-label label"
                  >Date de paiement <span class="title-bg-global-secondary"> * </span></label
                >
                <input
                  type="date"
                  class="form-control"
                  name="date_paiement"
                  [(ngModel)]="date_paiement"
                  required
                />
              </div>
  
              <div class="col-lg-6 mt-3">
                <label for="modePaiement" class="form-label label"
                  >Mode de paiement <span class="title-bg-global-secondary"> * </span></label
                >
                <select
                  class="form-control form-select"
                  name="mode_paiement"
                  [(ngModel)]="mode_paiement"
                  required
                >
                  <option disabled>Sélectionner le mode de paiement</option>
                  <option value="Mobile Money">Mobile Money</option>
                  <option value="Carte Bancaire">Carte Bancaire</option>
                  <option value="Espèces">Espèces</option>
                </select>
              </div>
  
              <div class="row mt-4">
                <div class="col-lg-6">
                  <div class="col-lg-4">
                    <button  type="submit" class="form-control bg-primary text-white">
                      Valider <i class="fa-solid mx-1 fa-arrows-rotate"></i>
                    </button>
                  </div>
                </div>
                <div class="col-lg-6 mt-3 text-end pt-3">
                  <p>NB : Les champs en <span class="title-bg-global-secondary"> (*) </span> sont obligatoires</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  