<main class="nxl-container">
    <div class="nxl-content">
      <div class="col-lg-11 pt-3 m-lg-auto">
        <div>
          <h1 class="fw-bold shadow bg-white rounded rounded-4 py-2 px-3 bg-primary text-white">
            Fiche de la banque principale :
            <span>{{ nom_banque }}</span>
          </h1>
        </div>
        <div class="row m-0 shadow rounded rounded-4 bg-white p-2">
          <div class="col-lg-4">
            <label class="fw-bold text-dark" for="">Banque</label>
            <input
              type="text"
              class="form-control mt-1"
              [disabled]="true"
              [value]="nom_banque"
            />
          </div>
          <div class="col-lg-4">
            <label class="fw-bold text-dark" for="">Numéro compte</label>
            <input
              type="text"
              class="form-control mt-1"
              [disabled]="true"
              [value]="(numero_compte)"
            />
          </div>
          <div class="col-lg-4">
            <label class="fw-bold text-dark" for="">Ville</label>
            <input
              type="text"
              class="form-control mt-1"
              [disabled]="true"
              [value]="ville"
            />
          </div>

          <div class="col-lg-4 mt-3">
            <label class="fw-bold text-dark" for="">Adresse</label>
            <input
              type="text"
              class="form-control mt-1"
              [disabled]="true"
              [value]="adresse"
            />
          </div>

          <div class="col-lg-4 mt-3">
            <label class="fw-bold text-dark" for="">Telephone</label>
            <input
              type="text"
              class="form-control mt-1"
              [disabled]="true"
              [value]="telephone"
            />
          </div>
  
          <div class="col-lg-4 mt-3">
            <label class="fw-bold text-dark" for="">Solde</label>
            <input
              type="text"
              class="form-control mt-1"
              [disabled]="true"
              [value]="globalService.formatPrix(solde)"
            />
          </div>
  
          <div class="col-lg-6 mt-3">
            <label class="fw-bold text-dark" for="">Date de création</label>
            <input
              type="text"
              class="form-control mt-1"
              [disabled]="true"
              [value]="globalService.formatDate(date_creation)"
            />
          </div>
  
          <div class="col-lg-6 mt-3">
            <label class="fw-bold text-dark" for=""
              >Date de la derniere mise à jour</label
            >
            <input
              type="text"
              class="form-control mt-1"
              [disabled]="true"
              [value]="globalService.formatDate(date_mise_a_jour)"
            />
          </div>
        </div>
        <div class="mt-3">
          <div class="row m-0 shadow rounded rounded-4 bg-white pt-3 pb-3 p-2">
            <!-- <div class="col-lg-6">
              <div class="">
                <h1
                  class="p-2 border rounded rounded-4 p-2 bg-light text-danger fw-bold"
                >
                  Historique des transferts entrants (caisses vendeurs)
                </h1>
              </div>
              <div class="table-transfert">
                <div
                  class="mat-elevation-z8 mt-3"
                  style="max-height: 400px; overflow-y: auto"
                >
                  <table mat-table [dataSource]="dataSource1">
                    <ng-container matColumnDef="caisse_vendeur_id">
                      <th
                        class="bg-color-primary"
                        mat-header-cell
                        *matHeaderCellDef
                      >
                        Caisse vendeur
                      </th>
                      <td class="pointer" mat-cell *matCellDef="let element">
                        {{ getCaissevendeurName(element.caisse_vendeur_id) }}
                      </td>
                      <td
                        mat-footer-cell
                        class="bg-table-color text-light"
                        *matFooterCellDef
                      ></td>
                    </ng-container>
  
                    <ng-container matColumnDef="caisse_principale_id">
                      <th
                        class="bg-color-primary"
                        mat-header-cell
                        *matHeaderCellDef
                      >
                        Caisse principale
                      </th>
                      <td class="pointer" mat-cell *matCellDef="let element">
                        {{
                          getCaissePrincippaleName(element.caisse_principale_id)
                        }}
                      </td>
                      <td
                        mat-footer-cell
                        class="bg-table-color text-light"
                        *matFooterCellDef
                      ></td>
                    </ng-container>
  
                    <ng-container matColumnDef="montant">
                      <th
                        class="bg-color-primary"
                        mat-header-cell
                        *matHeaderCellDef
                      >
                        Montant transferer
                      </th>
                      <td class="pointer" mat-cell *matCellDef="let element">
                        {{ globalService.formatPrix(element.montant) }}
                      </td>
                      <td
                        mat-footer-cell
                        class="bg-table-color text-light"
                        *matFooterCellDef
                      ></td>
                    </ng-container>
  
                    <ng-container matColumnDef="date_transfert">
                      <th
                        class="bg-color-primary"
                        mat-header-cell
                        *matHeaderCellDef
                      >
                        Date transfert
                      </th>
                      <td class="pointer" mat-cell *matCellDef="let element">
                        {{ globalService.formatDate(element.date_transfert) }}
                      </td>
                      <td
                        mat-footer-cell
                        class="bg-table-color text-light"
                        *matFooterCellDef
                      ></td>
                    </ng-container>
  
                    <tr
                      mat-header-row
                      *matHeaderRowDef="displayedColumns1; sticky: true"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns1"
                    ></tr>
                    <tr
                      class="bg-sticky-footer"
                      mat-footer-row
                      *matFooterRowDef="displayedColumns1; sticky: true"
                    ></tr>
                  </table>
                </div>
              </div>
            </div> -->
            <div class="col-lg-12 ">
              <div>
                <h1
                  class="py-2 px-3 rounded rounded-4 p-2 bg-primary text-white fw-bold"
                >
                  Historique des transferts entrants (caisse principale)
                </h1>
              </div>
              <div class="table-transfert">
                <div
                  class="mat-elevation-z8 rounded rounded-4 mt-3"
                  style="max-height: 400px; overflow-y: auto"
                >
                  <table mat-table [dataSource]="dataSource2">
                    <ng-container matColumnDef="banque_id">
                      <th
                        class="bg-color-primary"
                        mat-header-cell
                        *matHeaderCellDef
                      >
                        Banque
                      </th>
                      <td class="pointer" mat-cell *matCellDef="let element">
                        {{ getBanqueName(element.banque_id) }}
                      </td>
                      <td
                        mat-footer-cell
                        class="bg-table-color text-light"
                        *matFooterCellDef
                      ></td>
                    </ng-container>
  
                    <ng-container matColumnDef="caisse_principale_id">
                      <th
                        class="bg-color-primary"
                        mat-header-cell
                        *matHeaderCellDef
                      >
                        Caisse principale
                      </th>
                      <td class="pointer" mat-cell *matCellDef="let element">
                        {{
                          getCaissePrincippaleName(element.caisse_principale_id)
                        }}
                      </td>
                      <td
                        mat-footer-cell
                        class="bg-table-color text-light"
                        *matFooterCellDef
                      >Total</td>
                    </ng-container>
  
                    <ng-container matColumnDef="montant">
                      <th
                        class="bg-color-primary"
                        mat-header-cell
                        *matHeaderCellDef
                      >
                        Montant transferer
                      </th>
                      <td class="pointer" mat-cell *matCellDef="let element">
                        {{ globalService.formatPrix(element.montant) }}
                      </td>
                      <td
                        mat-footer-cell
                        class="bg-table-color text-light"
                        *matFooterCellDef
                      >{{globalService.formatPrix(TotalMontant)}}</td>
                    </ng-container>
  
                    <ng-container matColumnDef="date_transfert">
                      <th
                        class="bg-color-primary"
                        mat-header-cell
                        *matHeaderCellDef
                      >
                        Date transfert
                      </th>
                      <td class="pointer" mat-cell *matCellDef="let element">
                        {{ globalService.formatDate(element.date_transfert) }}
                      </td>
                      <td
                        mat-footer-cell
                        class="bg-table-color text-light"
                        *matFooterCellDef
                      ></td>
                    </ng-container>
  
                    <tr
                      mat-header-row
                      *matHeaderRowDef="displayedColumns2; sticky: true"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns2"
                    ></tr>
                    <tr
                      class="bg-sticky-footer"
                      mat-footer-row
                      *matFooterRowDef="displayedColumns2; sticky: true"
                    ></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  