<main class="nxl-container">
  <div class="nxl-content pt-3">
    <div class="col-lg-11 rounded rounded-4 p-3 m-lg-auto">
      <div class="row p-0">
        <h1 class="text-white shadow rounded rounded-4 bg-primary px-3 py-2">
          Bordereaux de cloture de caisse journalière pour utilisateur :
          <span>{{ user.nom_utilisateur }} {{ user.prenom_utilisateur }}</span>
        </h1>
      </div>
      <div class="row p-3 mb-3 bg-white shadow rounded rounded-4">
        <div class="col-lg-6 border rounded rounded-4">
          <div class="mt-2 row">
            <div class="col-lg-3">
              <p class="fw-bold pt-3">Date comptable :</p>
            </div>
            <div class="col-lg-9">
              <input
                (change)="selectDate($event)"
                type="date"
                class="form-control"
                [(ngModel)]="date_comptable"
              />
            </div>
          </div>
          <div class="mt-2 row">
            <div class="col-lg-3">
              <p class="fw-bold pt-3">Caisse :</p>
            </div>
            <div class="col-lg-9">
              <p class="fw-bold border bg-white p-3">
                {{
                  caisse
                    ? caisse
                    : "Aucune caisse vendeur trouvée pour cet utilisateur. "
                }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 border py-3 px-3 rounded rounded-4">
          <div class="mt-2">
            <span class="fw-bold">Solde Ouverture : </span>
            <span class="fw-bold text-danger mx-2">{{
              globalService.formatPrixString(solde_ouverture)
            }}</span>
          </div>
          <div class="mt-2">
            <span class="fw-bold">Solde Fermeture : </span>
            <span class="fw-bold text-danger mx-2">{{
              globalService.formatPrixString(solde_fermeture)
            }}</span>
          </div>
          <div class="mt-2">
            <span class="fw-bold">Total vente : </span>
            <span class="fw-bold text-danger mx-2">{{
              globalService.formatPrixString(TotalVersements)
            }}</span>
          </div>
          <!-- <div class="mt-2">
            <span class="fw-bold">Total Retraits : </span>
            <span class="fw-bold text-danger mx-2">{{
             (TotalRetraits)
            }}</span>
          </div> -->
        </div>
      </div>
      <div class="row shadow bg-white rounded rounded-4 p-3">
        <form #userform="ngForm" (ngSubmit)="onSubmitForm(userform)">
          <div class="row">
            <div class="col-lg-6">
              <table class="table border table-hover">
                <thead class="table-primary">
                  <tr>
                    <th>Valeur</th>
                    <th>Nombre</th>
                    <th>Somme</th>
                  </tr>
                </thead>
              </table>
              <div style="max-height: 400px; overflow-y: auto">
                <table class="table border table-hover">
                  <tbody>
                    <tr>
                      <th>Nombre total des billets</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="totalBillets"
                          name="Billets"
                          readonly
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="totalSommeBillets"
                          name="totalSommeBillets"
                          readonly
                        />
                      </td>
                    </tr>
                    <tr>
                      <th>10000</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Billets_10000_nombre"
                          name="Billets_10000_nombre"
                          (ngModelChange)="calculerSomme('Billets_10000')"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Billets_10000_somme"
                          name="Billets_10000_somme"
                          readonly
                        />
                      </td>
                    </tr>
                    <tr>
                      <th>5000</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Billets_5000_nombre"
                          name="Billets_5000_nombre"
                          (ngModelChange)="calculerSomme('Billets_5000')"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Billets_5000_somme"
                          name="Billets_5000_somme"
                          readonly
                        />
                      </td>
                    </tr>
                    <tr>
                      <th>2000</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Billets_2000_nombre"
                          name="Billets_2000_nombre"
                          (ngModelChange)="calculerSomme('Billets_2000')"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Billets_2000_somme"
                          name="Billets_2000_somme"
                          readonly
                        />
                      </td>
                    </tr>
                    <tr>
                      <th>1000</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Billets_1000_nombre"
                          name="Billets_1000_nombre"
                          (ngModelChange)="calculerSomme('Billets_1000')"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Billets_1000_somme"
                          name="Billets_1000_somme"
                          readonly
                        />
                      </td>
                    </tr>
                    <tr>
                      <th>500</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Billets_500_nombre"
                          name="Billets_500_nombre"
                          (ngModelChange)="calculerSomme('Billets_500')"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Billets_500_somme"
                          name="Billets_500_somme"
                          readonly
                        />
                      </td>
                    </tr>
                    <tr>
                      <th>Nombre total des pièces</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="totalPieces"
                          name="Pieces"
                          readonly
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="totalSommePieces"
                          name="totalSommePieces"
                          readonly
                        />
                      </td>
                    </tr>
                    <tr>
                      <th>500</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Pieces_500_nombre"
                          name="Pieces_500_nombre"
                          (ngModelChange)="calculerSomme('Pieces_500')"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Pieces_500_somme"
                          name="Pieces_500_somme"
                          readonly
                        />
                      </td>
                    </tr>
                    <tr>
                      <th>100</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Pieces_100_nombre"
                          name="Pieces_100_nombre"
                          (ngModelChange)="calculerSomme('Pieces_100')"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Pieces_100_somme"
                          name="Pieces_100_somme"
                          readonly
                        />
                      </td>
                    </tr>
                    <tr>
                      <th>50</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Pieces_50_nombre"
                          name="Pieces_50_nombre"
                          (ngModelChange)="calculerSomme('Pieces_50')"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Pieces_50_somme"
                          name="Pieces_50_somme"
                          readonly
                        />
                      </td>
                    </tr>
                    <tr>
                      <th>25</th>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Pieces_25_nombre"
                          name="Pieces_25_nombre"
                          (ngModelChange)="calculerSomme('Pieces_25')"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="Pieces_25_somme"
                          name="Pieces_25_somme"
                          readonly
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <h1
                  [ngClass]="{
                    'bg-delete': solde_confirme == 0,
                    'bg-update': solde_confirme == 1
                  }"
                  class="border text-white text-center fw-bold p-2"
                >
                  {{
                    solde_confirme == 0
                      ? "Journée non cloturée"
                      : "Journée cloturée"
                  }}
                </h1>
              </div>
              <div class="row mb-3 mt-3">
                <div class="col-lg-6">
                  <button
                    type="button"
                    class="form-control bg-update text-white"
                  >
                    Votre solde de cloture journée
                  </button>
                </div>
                <div class="col-lg-6">
                  <button
                    class="form-control bg-delete text-white"
                    [disabled]="solde_confirme == 1"
                  >
                    <span>{{
                      globalService.formatPrixString(solde_fermeture)
                    }}</span>
                  </button>
                </div>
              </div>
              <div class="mt-2">
                <label class="fw-bold">Rediger votre message ici : </label>
                <div>
                  <div class="form-floating">
                    <textarea
                      (change)="SendCommentaires($event)"
                      class="form-control"
                      [value]="commentaires"
                      id="floatingTextarea2"
                      style="height: 100px"
                    ></textarea>
                    <label for="floatingTextarea2"></label>
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <div class="row border border-1 border-primary m-0 p-3">
                  <div class="col-lg-1 p-0">
                    <div class="form-check">
                      <input
                        (change)="confirmeSolde($event)"
                        class="form-check-input p-3"
                        type="checkbox"
                        [disabled]="solde_confirme === 1 ? true : false"
                        [checked]="solde_confirme === 1 ? true : false"
                        id="flexCheckDefault"
                      />
                    </div>
                  </div>
                  <div class="col-lg-11 p-0">
                    <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Nihil est sed vel consectetur unde, eius corrupti
                      asperiores, cumque maiores vero labore incidunt sunt ipsa
                      iusto
                    </p>
                  </div>
                </div>
                <div class="mt-3">
                  <button
                    *ngIf="!isloadingpage; else loader"
                    type="submit"
                    class="form-control mt-3 text-white bg-update"
                  >
                    Cloturer la Journée
                  </button>
                </div>
                <div>
                  <button class="bg-update text-white form-control">
                    Imprimer le rapport de cloture
                    <i class="fa-solid mx-2 fa-print"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
