<main class="nxl-container">
  <div class="nxl-content">
    <div class="col-lg-11 m-lg-auto">
      <div class="p-3">
        <div class="shadow p-2">
          <h1>Rapports des Ventes</h1>
        </div>
        <div class="shadow bg-white mt-1">
          <div class="row">
            <div class="col-lg-4">
              <div class="d-flex align-items-center mt-4">
                <i
                  style="position: absolute"
                  class="fa-solid p-3 fa-magnifying-glass"
                ></i>

                <input
                  type="text"
                  (keyup)="applyFilter($event)"
                  placeholder="Recherchez un fournisseur ici..."
                  class="form-control text-start px-5 text-uppercase"
                />
              </div>
            </div>
            <div class="col-lg-4 pt-4">
              <button
                style="background-color: #3454d1"
                type="button"
                (click)="imprimer()"
                class="form-control text-white"
              >
                Imprimer la liste <i class="fa-solid fa-print"></i>
              </button>
            </div>
            <div class="col-lg-4 pt-4">
              <button
                style="background-color: #3454d1"
                type="button"
                (click)="openPointsDeVentes()"
                class="form-control text-white"
              >
                Ajouter une vente <i class="mx-1 fa-solid fa-user"></i>
              </button>
            </div>
          </div>
          <div class="content bg-light m-1 pb-1">
            <span class="text-on-border fw-bold">Filtré par : </span>
            <div class="row">
              <div class="col-lg-2">
                <label for="utilisateur" class="mt-3">Utilisateur</label>
                <select (change)="selectUser($event)" class="form-control form-select" id="utilisateur">
                  <option *ngFor="let option of tbUsers" [value]="option.utilisateur_id">{{option.nom_utilisateur}}</option>
                </select>
              </div>
              <div class="col-lg-3">
                <label for="" class="mt-3">Client</label>
                <select (change)="selectClient($event)" class="form-control form-select" id="utilisateur">
                  <option *ngFor="let option of tbClients" [value]="option.client_id">{{option.nom}}</option>
                </select>
              </div>
              <div class="col-lg-3">
                <label for="" class="mt-3">Point de vente</label>
                <select (change)="selectPointDeVente($event)" class="form-control form-select" id="utilisateur">
                  <option *ngFor="let option of tbPointdeVente" [value]="option.point_de_vente_id">{{option.nom}}</option>
                </select>
              </div>
              <div class="col-lg-2">
                <label for="" class="mt-3">Date de début (vente)</label>
                <input (change)="selectDateDebut($event)" class="form-control" type="date" />
              </div>
              <div class="col-lg-2">
                <label for="" class="mt-3">Date de fin (vente)</label>
                <input (change)="selectDateFin($event)" class="form-control" type="date" />
              </div>
            </div>
          </div>
          <div
            class="mat-elevation-z8 mt-3"
            style="max-height: 300px; overflow-y: auto"
            *ngIf="!isloadingpage; else loader"
          >
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="date_vente">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Date vente
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ globalService.formatDate(element.date_vente) }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                >
                  Total
                </td>
              </ng-container>

              <ng-container matColumnDef="montant_total">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Montant total vendu
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ globalService.formatPrix(element.montant_total) }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                >
                  {{globalService.formatPrixString(TotalMontant.toFixed(2))}}
                </td>
              </ng-container>

              <ng-container matColumnDef="client_id">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Client
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ getClientName(element.client_id) }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                >
                  
                </td>
              </ng-container>

              <ng-container matColumnDef="utilisateur_id">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Utilisateur
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ getUserName(element.utilisateur_id) }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                >
                  
                </td>
              </ng-container>

              <ng-container matColumnDef="point_de_vente_id">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Point de Vente
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ getPointName(element.point_de_vente_id) }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                >
                  
                </td>
              </ng-container>

              <ng-container matColumnDef="Actions">
                <th class="text-center" mat-header-cell *matHeaderCellDef>
                  Actions
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  <p
                    (click)="actions(element)"
                    style="cursor: pointer"
                    class="p-2 actions"
                  >
                    <span class="fs-6">...</span>
                  </p>
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                >
                  
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr
                class="bg-sticky-footer"
                mat-footer-row
                *matFooterRowDef="displayedColumns; sticky: true"
              ></tr>
            </table>
          </div>
        </div>
      </div>
   </div>
   <div class="col-lg-11 p-3 m-lg-auto">
    <div class="card stretch stretch-full">
      <div class="card-header">
        <h5 class="card-title">
          Evolution du chiffre d'affaire par mois
        </h5>
        <div class="card-header-action">
          <div class="card-header-btn">
            <div data-bs-toggle="tooltip" title="Delete">
              <a
                href="javascript:void(0);"
                class="avatar-text avatar-xs bg-danger"
                data-bs-toggle="remove"
              >
              </a>
            </div>
            <div data-bs-toggle="tooltip" title="Refresh">
              <a
                href="javascript:void(0);"
                class="avatar-text avatar-xs bg-warning"
                data-bs-toggle="refresh"
              >
              </a>
            </div>
            <div data-bs-toggle="tooltip" title="Maximize/Minimize">
              <a
                href="javascript:void(0);"
                class="avatar-text avatar-xs bg-success"
                data-bs-toggle="expand"
              >
              </a>
            </div>
          </div>
          <div class="dropdown">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-sm"
              data-bs-toggle="dropdown"
              data-bs-offset="25, 25"
            >
              <div data-bs-toggle="tooltip" title="Options">
                <i class="feather-more-vertical"></i>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-at-sign"></i>New</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-calendar"></i>Event</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-bell"></i>Snoozed</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-trash-2"></i>Deleted</a
              >
              <div class="dropdown-divider"></div>
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-settings"></i>Settings</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-life-buoy"></i>Tips & Tricks</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card-body custom-card-action p-0">
        <div id="payment-records-chart2"></div>
      </div>
    </div>
  </div>
    </div>
</main>


<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
