<main class="nxl-container">
  <div class="nxl-content">
    <div class="pt-4 col-lg-11 m-lg-auto">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="rounded rounded-4 text-uppercase py-1 px-3">clients</h1>
        </div>
        <div class="col-lg-4 d-flex justify-content-end">
          <!-- Export CSV Button -->
          <button
            type="button"
            class="btn btn-outline-primary rounded rounded-2 mx-2 btn-uniform-height"
          >
            <i class="fa-solid fa-download mx-2"></i> Export csv
          </button>

          <!-- Ajouter un client Button -->
          <button
            type="button"
            (click)="create()"
            class="btn btn-primary text-white rounded rounded-2 mx-2 btn-uniform-height"
          >
            <i class="fa-solid mx-2 fa-plus"></i> Ajouter un client
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xxl-3 col-md-6">
          <div class="card card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="me-3">
                <h5 class="fs-4">{{nbclients}}</h5>
                <span class="text-muted">Total Client</span>
              </div>
              <div class="avatar-text avatar-lg bg-primary text-white rounded">
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-md-6">
          <div class="card card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="me-3">
                <h5 class="fs-4">{{nbHommes}}</h5>
                <span class="text-muted">Homme</span>
              </div>
              <div class="avatar-text avatar-lg bg-success text-white rounded">
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-md-6">
          <div class="card card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="me-3">
                <h5 class="fs-4">{{nbFemmes}}</h5>
                <span class="text-muted">Femme</span>
              </div>
              <div class="avatar-text avatar-lg bg-warning text-white rounded">
                <i class="fa-solid fa-person-half-dress"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-white px-4 py-4 rounded rounded-4">
        <div class="row mb-3">
          <div class="col-lg-3">
            <div class="d-flex align-items-center">
              <i
                style="position: absolute"
                class="fa-solid p-3 fa-magnifying-glass"
              ></i>

              <input
                type="text"
                (keyup)="applyFilter($event)"
                placeholder="Recherchez un client ici..."
                class="form-control text-start px-5 text-uppercase"
              />
            </div>
          </div>
          <div class="col-lg-3">
            <select
              (change)="SelectPointDeVente($event)"
              class="form-control form-select"
            >
              <option selected>Filtrer par point de vente</option>
              <option disabled>Choisir un point de vente</option>
              <option
                *ngFor="let point of tbPointdeVente"
                [value]="point.point_de_vente_id"
              >
                {{ point.nom }}
              </option>
            </select>
          </div>
        </div>
        <div class="mat-elevation-z8">
          <table
            *ngIf="!isloadingpage; else loader"
            mat-table
            [dataSource]="dataSource"
            style="max-height: 400px; overflow-y: auto"
          >
            <ng-container matColumnDef="nom">
              <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                Nom
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.nom }}
              </td>
            </ng-container>

            <ng-container matColumnDef="prenom">
              <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                Prénom
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.prenom }}
              </td>
            </ng-container>

            <ng-container matColumnDef="sexe">
              <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                Sexe
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.sexe }}
              </td>
            </ng-container>

            <ng-container matColumnDef="adresse">
              <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                Adresse
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.adresse }}
              </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                Email
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.email }}
              </td>
            </ng-container>

            <ng-container matColumnDef="telephone">
              <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                Téléphone
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.telephone }}
              </td>
            </ng-container>

            <ng-container matColumnDef="nationalite">
              <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                Nationalité
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.nationalite }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  (click)="actions(row)"
                  style="cursor: pointer"
                ></tr>          </table>
          <mat-paginator
            [pageSizeOptions]="[10, 20, 30]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</main>
<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
