<main class="nxl-container">
  <div class="nxl-content">
    <div class="col-lg-11 m-lg-auto">
      <div class="p-3">
        <div class="shadow p-2">
          <h1>Liste des clients</h1>
        </div>
        <div class="shadow bg-white mt-1">
          <div class="row">
            <div class="col-lg-4">
              <div class="d-flex align-items-center mt-4">
                <i
                  style="position: absolute"
                  class="fa-solid p-3 fa-magnifying-glass"
                ></i>

                <input
                  type="text"
                  (keyup)="applyFilter($event)"
                  placeholder="Recherchez un client ici..."
                  class="form-control text-start px-5 text-uppercase"
                />
              </div>
            </div>
            <div class="col-lg-4 pt-4">
              <button
                style="background-color: #3454d1"
                type="button"
                (click)="imprimer()"
                class="form-control text-white"
              >
                Imprimer la liste <i class="fa-solid fa-print"></i>
              </button>
            </div>
            <div class="col-lg-4 pt-4">
              <button
                style="background-color: #3454d1"
                type="button"
                class="form-control text-white"
                (click)="create()"
              >
                Ajouter un client <i class="mx-1 fa-solid fa-user"></i>
              </button>
            </div>
          </div>
          <div
            class="mat-elevation-z8 mt-3"
            style="max-height: 400px; overflow-y: auto"
            *ngIf="!isloadingpage; else loader"
          >
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="nom">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Nom
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.nom }}
                </td>
                <td
                mat-footer-cell
                class="bg-table-color text-light"
                *matFooterCellDef
              >
              <span class="fw-bold  ">Nombre : </span> <span class="fw-bold mx-2">{{nbclients}}</span>
              </td>
              </ng-container>

              <ng-container matColumnDef="prenom">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Prénom
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.prenom }}
                </td>
                <td
                mat-footer-cell
                class="bg-table-color text-light"
                *matFooterCellDef
              >
              </td>
              </ng-container>

              <ng-container matColumnDef="sexe">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Sexe
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.sexe }}
                </td>
                <td
                mat-footer-cell
                class="bg-table-color text-light"
                *matFooterCellDef
              >
              </td>
              </ng-container>

              <ng-container matColumnDef="adresse">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Adresse
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.adresse }}
                </td>
                <td
                mat-footer-cell
                class="bg-table-color text-light"
                *matFooterCellDef
              >
              </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Email
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.email }}
                </td>
                <td
                mat-footer-cell
                class="bg-table-color text-light"
                *matFooterCellDef
              >
              </td>
              </ng-container>

              <ng-container matColumnDef="telephone">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Téléphone
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.telephone }}
                </td>
                <td
                mat-footer-cell
                class="bg-table-color text-light"
                *matFooterCellDef
              >
              </td>
              </ng-container>

              <ng-container matColumnDef="nationalite">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Nationalité
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.nationalite }}
                </td>
                <td
                mat-footer-cell
                class="bg-table-color text-light"
                *matFooterCellDef
              >
              </td>
              </ng-container>

              <ng-container matColumnDef="Actions">
                <th class="text-center" mat-header-cell *matHeaderCellDef>
                  Actions
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  <p
                  
                    (click)="actions(element)"
                    style="cursor: pointer"
                    class="p-2 actions"
                  >
                    <span class="fs-6">...</span>
                  </p>
                </td>
                <td
                mat-footer-cell
                class="bg-table-color text-light"
                *matFooterCellDef
              >
              </td>
              </ng-container>

              <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr
              class="bg-sticky-footer"
              mat-footer-row
              *matFooterRowDef="displayedColumns; sticky: true"
            ></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
