<main class="nxl-container">
    <div class="nxl-content">
      <div class="col-lg-8 m-lg-auto py-3 px-lg-5">
        <div class="row">
          <!-- <div style="background-color: #3454d1;" class="border shadow  rounded rounded-4">
            <h2 class="fw-bold mx-2 text-white my-1">
                <span>{{action == 'create' ? 'Ajouter un point de vente' : ' '}} </span>
                <span *ngIf="point">{{ nom }} </span>
              </h2>
          </div> -->
          <div class="col-12 mt-2">
            <form
            #pointform="ngForm"
            (ngSubmit)="onSubmitForm(pointform)"
              class="row border rounded rounded-4 bg-white  p-3 needs-validation"
            >
              <div class="col-lg-4">
                <label for="validationCustom01" class="form-label label"
                  >Nom <span class="title-bg-global-secondary"> * </span></label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="nom"
                  [(ngModel)]="nom"
                />
              </div>
  
              <div class="col-lg-4">
                <label for="validationCustom01" class="form-label label"
                  >ville</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="ville"
                  [(ngModel)]="ville"
                />
              </div>
  
              <div class="col-lg-4">
                <label for="validationCustom01" class="form-label label"
                  >Code Postal</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="codePostal"
                  [(ngModel)]="code_postal"
                />
              </div>
  
              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Adresse <span class="title-bg-global-secondary"> * </span></label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="adresse"
                  [(ngModel)]="adresse"
                />
              </div>
  
              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Pays</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="pays"
                  [(ngModel)]="pays"
                />
              </div>
  
              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Email <span class="title-bg-global-secondary"> * </span></label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="email"
                  [(ngModel)]="email"
                />
              </div>
  
              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Télephone <span class="title-bg-global-secondary"> * </span></label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="telephone"
                  [(ngModel)]="telephone"
                />
              </div>
  
              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Responsable <span class="title-bg-global-secondary"> * </span></label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="responsable"
                  [(ngModel)]="responsable"
                />
              </div>


              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Boutique associé <span class="title-bg-global-secondary"> * </span></label
                >
                <select class="form-control form-select" name="boutique_id" [(ngModel)]="boutique_id"  >
                  <option selected>Selectionner une boutique</option>
                  <option *ngFor="let boutique of tbBoutique" [value]="boutique.boutique_id">
                    {{boutique.nom}}
                  </option>
                </select>

              </div>

              <div class="row">
                <div class="col-lg-6">
                 <div class="col-lg-3 mt-3">
                   <button [disabled]="!isFormValid()"  type="submit" class="form-control bg-global-primary text-white">
                     Valider <i class="fa-solid text-white mx-1 fa-pen"></i>
                   </button>
                 </div>
                </div>
                 <div class="col-lg-6 mt-3 text-end pt-3">
                  <p>NB : Les champs en <span class="title-bg-global-secondary"> (*) </span> sont obligatoire</p>
                 </div>
               </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  