<main class="nxl-container">
  <div class="nxl-content">
    <div class="pt-4">
      <div class="col-lg-11 bg-white p-2 rounded rounded-4 m-lg-auto">
        <div class="p-3">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="rounded rounded-4 text-uppercase py-1 px-3">
                employés
              </h1>
            </div>
            <div class="col-lg-2">
                <button
                  style="background-color: #3454d1"
                  type="button"
                  [disabled]="user.role === 'Vendeur'"
                  routerLink="/user/create"
                  class="form-control text-uppercase text-white"
                >
                <i class="fa-solid fa-download mx-2"></i>  Export csv
                </button>
            </div>
            <div class="col-lg-2">
                <button
                  style="background-color: #3454d1"
                  type="button"
                  [disabled]="user.role === 'Vendeur'"
                  routerLink="/user/create"
                  class="form-control text-uppercase text-white"
                >
                <i class="fa-solid mx-1 fa-plus"></i> Ajouter un employé 
                </button>
            </div>
          </div>
          <div class="mt-1">
            <div class="row">
              <div class="col-lg-3">
                <div class="d-flex align-items-center">
                  <i
                    style="position: absolute"
                    class="fa-solid p-3 fa-magnifying-glass"
                  ></i>

                  <input
                    type="text"
                    (keyup)="applyFilter($event)"
                    placeholder="Recherchez un utilisateur ici..."
                    class="form-control text-start px-5 text-uppercase"
                  />
                </div>
              </div>
              <div class="col-lg-3">
                <select
                  (change)="SelectPointDeVente($event)"
                  class="form-control form-select"
                >
                  <option selected>Filtrer par point de vente</option>
                  <option disabled>Choisir un point de vente</option>
                  <option
                    *ngFor="let point of tbPointdeVente"
                    [value]="point.point_de_vente_id"
                  >
                    {{ point.nom }}
                  </option>
                </select>
              </div>

              <!-- <div class="col-lg-3 pt-4">
              <button
                style="background-color: #3454d1"
                type="button"
                (click)="imprimer()"
                class="form-control text-white"
              >
                Imprimer la liste <i class="fa-solid fa-print"></i>
              </button>
            </div> -->
            </div>
            <div class="mat-elevation-z8 rounded rounded-4 mt-3">
              <table mat-table [dataSource]="dataSource" *ngIf="!isloadingpage; else loader"  style="max-height: 400px; overflow-y: auto">
                <ng-container matColumnDef="nom_utilisateur">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Nom
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element">
                    {{ element.nom_utilisateur }}
                  </td>
                  <td
                    mat-footer-cell
                    class="bg-table-color text-light"
                    *matFooterCellDef
                  >
                  </td>
                </ng-container>

                <ng-container matColumnDef="prenom_utilisateur">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Prénom
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element">
                    {{ element.prenom_utilisateur }}
                  </td>
                  <td
                    mat-footer-cell
                    class="bg-table-color text-light"
                    *matFooterCellDef
                  ></td>
                </ng-container>

                <ng-container matColumnDef="sexe">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Sexe
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element">
                    {{ element.sexe }}
                  </td>
                  <td
                    mat-footer-cell
                    class="bg-table-color text-light"
                    *matFooterCellDef
                  ></td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Email
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element">
                    {{ element.email }}
                  </td>
                  <td
                    mat-footer-cell
                    class="bg-table-color text-light"
                    *matFooterCellDef
                  ></td>
                </ng-container>

                <ng-container matColumnDef="telephone">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Telephone
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element">
                    {{ element.telephone }}
                  </td>
                  <td
                    mat-footer-cell
                    class="bg-table-color text-light"
                    *matFooterCellDef
                  ></td>
                </ng-container>

                <ng-container matColumnDef="nationalite">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Nationalité
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element">
                    {{ element.nationalite }}
                  </td>
                  <td
                    mat-footer-cell
                    class="bg-table-color text-light"
                    *matFooterCellDef
                  ></td>
                </ng-container>

                <ng-container matColumnDef="role">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Role
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element">
                    {{ element.role }}
                  </td>
                  <td
                    mat-footer-cell
                    class="bg-table-color text-light"
                    *matFooterCellDef
                  ></td>
                </ng-container>

                <ng-container matColumnDef="Actions">
                  <th class="text-center" mat-header-cell *matHeaderCellDef>
                    Actions
                  </th>
                  <td class="text-center" mat-cell *matCellDef="let element">
                    <button
                      [ngClass]="{
                        'text-muted disabled': user.role === 'Vendeur'
                      }"
                      (click)="actions(element)"
                      style="cursor: pointer"
                      class="actions border border-0 rounded rounded-2 actions"
                    >
                      <i class="fa-solid fa-eye"></i>
                    </button>
                  </td>
                  <td
                    mat-footer-cell
                    class="bg-table-color text-light"
                    *matFooterCellDef
                  ></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
              aria-label="Select page of periodic elements">
             </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
