tr.selected {
    background-color: #d1ecf1; /* Couleur bleu clair */
    transition: background-color 0.3s ease-in-out; /* Animation pour un effet fluide */
  }
  .image-container {
    position: relative;  /* Permet de positionner l'image à l'intérieur */
    width: 100%;         /* Largeur de 100% pour s'adapter à l'espace disponible */
    padding-top: 100%;   /* Hauteur égale à la largeur pour créer un carré (aspect ratio 1:1) */
    overflow: hidden;    /* Masquer les parties de l'image qui débordent du carré */
  }
  
  .image-container img {
    width: 100%;           /* S'assurer que l'image prend toute la largeur du conteneur */
    height: 100%;          /* S'assurer que l'image prend toute la hauteur du conteneur */
    object-fit: contain;   /* Ajuster l'image pour qu'elle reste proportionnelle sans être coupée */
    object-position: center; /* Centrer l'image dans le conteneur */
  }
  
  
  .selected {
    background-color: #d1ecf1;
  }
  #myTab {
    overflow-x: auto;  /* Active le défilement horizontal */
    -webkit-overflow-scrolling: touch; /* Pour un meilleur défilement sur mobile */
    display: flex; /* Assure que les éléments restent alignés sur une seule ligne */
    padding-bottom: 10px; /* Optionnel, pour laisser un peu d'espace */
}

#myTab::-webkit-scrollbar {
    height: 8px; /* Taille de la barre de défilement */
}

#myTab::-webkit-scrollbar-thumb {
    background-color: #888; /* Couleur de la barre de défilement */
    border-radius: 10px;
}

#myTab::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Changement de couleur au survol */
}

/* Onglet actif en bleu */
.nav-tabs .nav-link.active {
  background-color: #3554d1 !important; /* Bleu de Bootstrap */
  color: white !important;  /* Assurez-vous que le texte reste blanc */
}

/* Onglet inactif en gris */
.nav-tabs .nav-link {
  background-color:#b0bbe4; /* Gris clair */
  color: white !important;
}

/* Survol des onglets inactifs */
.nav-tabs .nav-link:hover {
  background-color: #b0bbe4; /* Gris foncé pour l'effet de survol */
}

