
$primary-color:#3454d1;
$secondary-color: hsl(0, 81%, 61%);
$third-color: #17c666;

table {
  width: 100%;
}
.mat-elevation-z8 tr, .mat-elevation-z8 mat-header-cell {
  height: 2em;
}
.mat-elevation-z8 th, .mat-elevation-z8 mat-header-cell {
  background-color: $primary-color;
  color: white;
} 

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
  tr:nth-child(even) {
    background-color:#f1f1f1;
}

mat-paginator{
  background-color: $primary-color;
}

.md-dialog {
  opacity: 0;
}

tr{
    &:hover{
      & td{
        background:#17c666;
        color: white;
      }
    }
    }
  

.bg-color-section-vente{
  background-color: #0f172a;
}

.bg-delete{
background-color:$secondary-color ;
}
.bg-update{
    background-color:$primary-color;
}

.checked-green {
  background-color: green;
}
