tr.selected {
    background-color: #d1ecf1; /* Couleur bleu clair */
    transition: background-color 0.3s ease-in-out; /* Animation pour un effet fluide */
  }
  
  .selected {
    background-color: #d1ecf1;
  }
  #myTab {
    overflow-x: auto;  /* Active le défilement horizontal */
    -webkit-overflow-scrolling: touch; /* Pour un meilleur défilement sur mobile */
    display: flex; /* Assure que les éléments restent alignés sur une seule ligne */
    padding-bottom: 10px; /* Optionnel, pour laisser un peu d'espace */
}

#myTab::-webkit-scrollbar {
    height: 8px; /* Taille de la barre de défilement */
}

#myTab::-webkit-scrollbar-thumb {
    background-color: #888; /* Couleur de la barre de défilement */
    border-radius: 10px;
}

#myTab::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Changement de couleur au survol */
}

/* Onglet actif en bleu */
.nav-tabs .nav-link.active {
  background-color: #3554d1 !important; /* Bleu de Bootstrap */
  color: white !important;  /* Assurez-vous que le texte reste blanc */
}

/* Onglet inactif en gris */
.nav-tabs .nav-link {
  background-color:#b0bbe4; /* Gris clair */
  color: white !important;
}

/* Survol des onglets inactifs */
.nav-tabs .nav-link:hover {
  background-color: #b0bbe4; /* Gris foncé pour l'effet de survol */
}

