<main class="nxl-container">
    <div class="nxl-content border">
      <div class="container-fuild p-5">
  
        <div class="row">
          <div class="border shadow rounded rounded-4 bg-white p-2">
              <h2 class="fw-bold">
                  <span>Fiche du produit : </span>
                  <span class="mx-1 title-bg-global-secondary">{{produit.nom}}</span>
              </h2>
          </div>
          <div class="col-12 mt-2">
            <form class="row border rounded rounded-4 bg-white shadow p-3 needs-validation">
              <div class="row">
                <div class="col-lg-4 rounded rounded-4 bg-dark p-3">
                  <div class="w-50 m-auto mt-2">
                    <img
                      class="m-auto"
                      [src]="image"
                      style="width: 175px !important"
                      *ngIf="image"
                    />
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="col-lg-12">
                    <label for="validationCustom01" class="form-label label"
                      >Nom du produit</label
                    >
                    <input
                      [readonly]="action == 'view'"
                      type="text"
                      class="form-control"
                      name="produit.nom"
                      [(ngModel)]="produit.nom"
                    />
                  </div>
      
                  <div class="col-lg-12 mt-3">
                    <label for="validationCustom01" class="form-label label"
                      >Description</label
                    >
                    <input
                      [readonly]="action == 'view'"
                      type="text"
                      class="form-control"
                      name="produit.description"
                      [(ngModel)]="produit.description"
                    />
                  </div>
      
                </div>
              </div>
       
              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Categorie</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="produit.categorie"
                  [(ngModel)]="produit.categorie"
                />
              </div>
  
              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Prix</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="produit.prix"
                  [(ngModel)]="produit.prix"
                />
              </div>
  
              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Quantité en stock</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="produit.quantite_en_stock"
                  [(ngModel)]="produit.quantite_en_stock"
                />
              </div>
  
              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Niveau de reapprovisionnement</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="produit.niveau_de_reapprovisionnement"
                  [(ngModel)]="produit.niveau_de_reapprovisionnement"
                />
              </div>

              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Code produit</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="produit.code_produit"
                  [(ngModel)]="produit.code_produit"
                />
              </div>

              <div class="col-lg-4 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Point de vente</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="produit.point_de_vente_id"
                  [value]="getPointName(produit.point_de_vente_id)"
                />
              </div>

              <div class="col-lg-6 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Date de modification</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="produit.mis_a_jour_le"
                  [value]="globalService.formatDate(produit.mis_a_jour_le)"
                />
              </div>
  
              <div class="col-lg-6 mt-3">
                <label for="validationCustom01" class="form-label label"
                  >Date de création</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control"
                  name="produit.cree_le"
                  [value]="globalService.formatDate(produit.cree_le)"
                />
              </div>

              <div class="col-lg-6 mt-3">
                <button (click)="updateproduit()" class="form-control btn bg-update text-white">
                  Modifier <i class="fa-solid text-white mx-1 fa-pen"></i>
                </button>
              </div>
  
              <div class="col-lg-6 mt-3">
                <button (click)="deleteproduit()" class="form-control bg-delete btn text-white">
                  Supprimer <i class="fa-solid mx-1 text-white fa-trash"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  