<main class="nxl-container">
  <div class="nxl-content border">
    <div class="col-lg-8 m-lg-auto py-4 px-lg-5">
      <!-- <i
        data-bs-toggle="tooltip"
        title="Retour à l'accueil"
        style="cursor: pointer"
        class="fa-solid fs-3 text-dark fa-arrow-left"
      ></i> -->
      <div class="row">
        <div class="col-12 mt-1">
          <form
            #produitform="ngForm"
            (ngSubmit)="onSubmitForm(produitform)"
            class="px-5 py-5 rounded rounded-4 bg-white p-3 needs-validation"
          >
            <div class="row">
              <!-- Image Section -->
              <div class="col-lg-4 bg-light border rounded rounded-4 border-5">
                <div class="w-75 m-auto py-3" style="height: 270px">
                  <img class="w-100" [src]="image" *ngIf="image" />
                </div>
                <input
                  [disabled]="true"
                  type="file"
                  accept="image/*"
                  class="form-control"
                  (change)="onFileSelected($event)"
                  #fileInput
                  style="display: none"
                />
                <div class="w-25 m-auto p-3 rounded rounded-5 bg-dark border">
                  <img
                    (click)="triggerFileInput()"
                    class="w-100"
                    src="assets/images/signal-2024-12-09-060204_003.png"
                    alt=""
                  />
                </div>
              </div>

              <!-- Product Info Section -->
              <div class="col-lg-8">
                <div class="row ps-lg-4">
                  <div class="col-lg-6">
                    <label for="nom" class="form-label label"
                      >Nom
                      </label
                    >
                    <input
                      [disabled]="true"
                      type="text"
                      class="form-control"
                      name="nom"
                      [(ngModel)]="nom"
                      required
                    />
                  </div>
                  <div class="col-lg-6">
                    <label for="type_produit" class="form-label label">
                      Type produit
                      
                    </label>
                    <select
                    [disabled]="true"
                      class="form-select"
                      name="type_produit"
                      [(ngModel)]="type_produit"
                      required
                    >
                      <option value="simple">Simple</option>
                      <option value="variable">Variable</option>
                    </select>
                  </div>

                  <div class="col-lg-6 mt-3">
                    <label for="point_de_vente_id" class="form-label label"
                      >Point de vente
                      </label
                    >
                    <select
                    [disabled]="true"
                      class="form-control form-select"
                      name="point_de_vente_id"
                      [(ngModel)]="point_de_vente_id"
                      required
                    >
                      <option
                        *ngFor="let point of tbPointdeVente"
                        [value]="point.point_de_vente_id"
                      >
                        {{ point.nom }}
                      </option>
                    </select>
                  </div>

                  <div class="col-lg-6 mt-3">
                    <label for="categorie" class="form-label label"
                      >Catégorie</label
                    >
                    <div class="input-group mb-3">
                      <select
                      [disabled]="true"
                        name="categorie_id"
                        [(ngModel)]="categorie_id"
                        class="form-select"
                        id="inputGroupSelect02"
                      >
                        <option value="" disabled selected>
                          Choisissez une catégorie
                        </option>
                        <option
                          *ngFor="let cat of TbCategorie"
                          [value]="cat.categorie_id"
                        >
                          {{ cat.nom }}
                        </option>
                      </select>
                      <label
                        (click)="addCategorie()"
                        class="input-group-text bg-primary"
                        for="inputGroupSelect02"
                        ><i class="fa-solid text-white fa-plus"></i
                      ></label>
                    </div>
                  </div>

                  <div class="col-lg-6 mt-3">
                    <label for="prix" class="form-label label"
                      >Prix unitaire de vente</label
                    >
                    <input
                      [disabled]="true"
                    [disabled]="type_produit == 'variable'"
                      type="number"
                      class="form-control"
                      name="prix"
                      [(ngModel)]="prix"
                      required
                    />
                  </div>

                  <div class="col-lg-6 mt-3">
                    <label for="prix_de_revient" class="form-label label"
                      >Prix de revient</label
                    >
                    <input
                      [disabled]="true"
                    [disabled]="type_produit == 'variable'"
                      type="number"
                      class="form-control"
                      name="prix_de_revient"
                      [(ngModel)]="prix_de_revient"
                      required
                    />
                  </div>

                  <div class="col-lg-6 mt-3">
                    <label for="prix_reduit" class="form-label label"
                      >Prix réduit</label
                    >
                    <input
                      [disabled]="true"
                    [disabled]="type_produit == 'variable'"
                      type="number"
                      class="form-control"
                      name="prix_reduit"
                      [(ngModel)]="prix_reduit"
                    />
                  </div>

                  <div class="col-lg-6 mt-3">
                    <label for="quantite_en_stock" class="form-label label"
                      >Quantité en stock
                      </label
                    >
                    <input
                      [disabled]="true"
                    [disabled]="type_produit == 'variable'"
                      type="number"
                      class="form-control"
                      name="quantite_en_stock"
                      [(ngModel)]="quantite_en_stock"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-lg-4 mt-3">
                <label for="unite_mesure" class="form-label label"
                  >Unité de mesure</label
                >
                <input
                  [disabled]="true"
                  type="text"
                  class="form-control"
                  name="unite_mesure"
                  [(ngModel)]="unite_mesure"
                />
              </div>

              <div class="col-lg-4 mt-3">
                <label for="code_barres" class="form-label label"
                  >Code barre</label
                >
                <input
                  [disabled]="true"
                [disabled]="type_produit == 'variable'"
                  type="text"
                  class="form-control"
                  name="code_barres"
                  [(ngModel)]="code_barres"
                />
              </div>

              <!-- <div class="col-lg-4 mt-3">
                <label for="poids" class="form-label label"
                  >Code produit
                </label>
                <input
                  [disabled]="true"
                [disabled]="type_produit == 'variable'"
                  type="text"
                  class="form-control"
                  name="code_produit"
                  [(ngModel)]="code_produit"
                />
              </div> -->

              <div class="col-lg-4   mt-3">
                <label for="poids" class="form-label label"
                  >Niveau de reapprovisionnement
                </label>
                <input
                  [disabled]="true"
                [disabled]="type_produit == 'variable'"
                  type="number"
                  class="form-control"
                  name="niveau_de_reapprovisionnement"
                  [(ngModel)]="niveau_de_reapprovisionnement"
                />
              </div>

 
              <div class="col-lg-6 mt-3">
                <label for="poids" class="form-label label"
                  >Poids du produit (Kg)</label
                >
                <input
                  [disabled]="true"
                  type="number"
                  class="form-control"
                  name="poids"
                  [(ngModel)]="poids"
                />
              </div>
  
              <div class="col-lg-6 mt-3">
                <label for="etat_du_stock" class="form-label label"
                  >État du stock
                  </label
                >
                <select
                [disabled]="true"
                  class="form-select"
                  name="etat_du_stock"
                  [(ngModel)]="etat_du_stock"
                  required
                >
                  <option>En stock</option>
                  <option>Rupture de stock</option>
                  <option>En réapprovisionnement</option>
                </select>
              </div>
            </div>


            <div class="row p-0">



              <div class="col-lg-12 p-0 mt-3">
                <label for="description" class="form-label label"
                  >Description courte
                  </label
                >
                <textarea
                [disabled]="true"
                class="form-control"
                name="description_courte"
                [(ngModel)]="description_courte"
                rows="4"
              ></textarea>

              </div>

              <div class="col-lg-12 p-0 mt-3">
                <label for="description" class="form-label label"
                  >Description longue
                  </label
                >
                <textarea
                [disabled]="true"
                class="form-control"
                name="description_longue"
                [(ngModel)]="description_longue"
                rows="4"
              ></textarea>

              </div>

            </div>


            <div class="row">
              <div class="content mx-2 mt-4">
                <span class="text-on-border fw-bold fs-5">Dimensions (cm)</span>
                <div class="row">
                  <div class="col-lg-4 mt-3">
                    <label for="longueur" class="form-label label"
                      >Longueur</label
                    >
                    <input
                      [disabled]="true"
                      type="number"
                      class="form-control"
                      name="longueur"
                      [(ngModel)]="longueur"
                    />
                  </div>
                  <div class="col-lg-4 mt-3">
                    <label for="largeur" class="form-label label"
                      >Largeur</label
                    >
                    <input
                      [disabled]="true"
                      type="number"
                      class="form-control"
                      name="largeur"
                      [(ngModel)]="largeur"
                    />
                  </div>
                  <div class="col-lg-4 mt-3">
                    <label for="hauteur" class="form-label label"
                      >Hauteur</label
                    >
                    <input
                      [disabled]="true"
                      type="number"
                      class="form-control"
                      name="hauteur"
                      [(ngModel)]="hauteur"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="type_produit === 'variable'">
              <div
                class="content mx-2 mt-4"
                *ngIf="type_produit === 'variable'"
              >
                <span class="text-on-border text-uppercase fw-bold"
                  >Variations et combinaisons</span
                >
                <div class="row">
                  <div
                    *ngFor="let variation of TbVariations; let i = index"
                    class="row my-3 mx-3 py-2"
                  >
                    <div class="col-9">
                      <div class="variation-left">
                        <div class="variation-name fs-6">
                          {{ variation.nom }}
                        </div>

                        <div
                          *ngFor="let valeur of variation.valeurs"
                          class="variation-value mt-2 text-center mx-2 px-2 rounded rounded-2 bg-light"
                        >
                          <span class="variation-value">{{
                            valeur.valeur
                          }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-3 text-center mt-3">
                      <span
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasEdit"
                        aria-controls="offcanvasEdit"
                        class="border px-3 border-success py-2 mx-3 rounded rounded-2 fs-6"
                        (click)="openEditVariation(i)"
                        >Edit</span
                      >
                      <span class="bg-light px-2 py-2 pt-2 rou rounded-2">
                        <i class="fa-solid fs-5 text-danger fa-trash"></i>
                      </span>
                    </div>
                  </div>
                  <div>
                    <div class="row">
                      <div class="col-lg-3">
                        <button
                          class="btn btn-primary mt-3"
                          type="button"
                          [disabled]="true"
                          data-bs-toggle="offcanvas"
                          data-bs-target="#offcanvasRight"
                          aria-controls="offcanvasRight"
                        >
                          Ajouter les options
                        </button>
                      </div>
                      <div class="col-lg-4">
                        <button
                          type="button"
                          class="btn btn-primary mt-3"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal"
                        >
                          Voir les combinaisons
                        </button>
                      </div>
                    </div>

                    <div
                      class="offcanvas offcanvas-end"
                      tabindex="-1"
                      id="offcanvasRight"
                      aria-labelledby="offcanvasRightLabel"
                    >
                      <div class="offcanvas-header border bg-light">
                        <h2
                          class="offcanvas-title fw-bold text-uppercase"
                          id="offcanvasRightLabel"
                        >
                          Ajouter les options
                        </h2>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="offcanvas"
                          aria-label="Close"
                        ></button>
                      </div>

                      <div class="offcanvas-body">
                        <!-- Formulaire de variation -->
                        <div class="col-lg-12">
                          <label for="variationNom" class="form-label label"
                            >Type option</label
                          >
                          <input
                            [disabled]="true"
                            type="text"
                            class="form-control"
                            name="variation.nom"
                            id="variationNom"
                            [(ngModel)]="variation.nom"
                          />
                        </div>

                        <div class="col-lg-12 mt-3">
                          <label for="variationValeur" class="form-label label"
                            >Valeur</label
                          >
                          <input
                            [disabled]="true"
                            type="text"
                            class="form-control"
                            name="variation.valeur"
                            id="variationValeur"
                            [(ngModel)]="variation.valeur"
                          />
                        </div>

                        <!-- <div class="col-lg-12 mt-3">
                          <label for="variationPrix" class="form-label label"
                            >Prix</label
                          >
                          <input
                            [disabled]="true"
                            type="number"
                            class="form-control"
                            name="variation.prix"
                            id="variationPrix"
                            [(ngModel)]="variation.prix"
                          />
                        </div>

                        <div class="col-lg-12 mt-3">
                          <label for="variationStock" class="form-label label"
                            >Quantité en stock</label
                          >
                          <input
                            [disabled]="true"
                            type="number"
                            class="form-control"
                            name="variation.quantite_en_stock"
                            id="variationStock"
                            [(ngModel)]="variation.quantite_en_stock"
                          />
                        </div> -->

                        <div class="row">
                          <div class="mt-3 col-7">
                            <button
                              type="button"
                              class="bg-primary text-white text-uppercase form-control"
                              (click)="ajouterOuModifier()"
                              data-bs-dismiss="offcanvas"
                              aria-label="Close"
                            >
                              Ajouter la variation
                            </button>
                          </div>
                          <div class="mt-3 col-5">
                            <button
                              type="button"
                              class="bg-danger text-white text-uppercase form-control"
                              data-bs-dismiss="offcanvas"
                              aria-label="Close"
                            >
                              Fermer
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Deuxième offcanvas pour modifier les variations -->
                    <div
                      class="offcanvas offcanvas-end"
                      tabindex="-1"
                      id="offcanvasEdit"
                      aria-labelledby="offcanvasEditLabel"
                    >
                      <div class="offcanvas-header border bg-light">
                        <h2
                          class="offcanvas-title fw-bold text-uppercase"
                          id="offcanvasEditLabel"
                        >
                          Modifier les options
                        </h2>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="offcanvas"
                          aria-label="Close"
                        ></button>
                      </div>

                      <!-- Affichage de la variation sélectionnée -->
                      <div *ngIf="selectedVariationIndex !== null">
                        <div class="row my-3 mx-3 py-2">
                          <div class="col-12">
                            <div class="variation-left">
                              <div class="variation-name fs-6">
                                {{ TbVariations[selectedVariationIndex].nom }}
                              </div>

                              <!-- Tableau pour afficher les valeurs modifiables -->
                              <table class="table table-bordered mt-3">
                                <thead>
                                  <tr>
                                    <th>Valeur</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr
                                    *ngFor="
                                      let valeur of TbVariations[
                                        selectedVariationIndex
                                      ].valeurs;
                                      let j = index
                                    "
                                  >
                                    <td>
                                      <input
                                        [disabled]="true"
                                        type="text"
                                        [(ngModel)]="valeur.valeur"
                                        class="form-control"
                                        name="valeur-{{
                                          selectedVariationIndex
                                        }}-{{ j }}"
                                        (ngModelChange)="
                                          onValueChange(
                                            selectedVariationIndex,
                                            j,
                                            'valeur',
                                            valeur.valeur
                                          )
                                        "
                                      />
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>

                        <div class="offcanvas-body">
                          <h3
                            class="text-uppercase bg-light fw-bold text-center py-2"
                          >
                            Ajouter une valeur
                          </h3>
                          <div class="col-lg-12 mt-3">
                            <label
                              for="variationValeur"
                              class="form-label label"
                              >Valeur</label
                            >
                            <input
                              [disabled]="true"
                              type="text"
                              class="form-control"
                              name="variation.valeur"
                              id="variationValeur"
                              [(ngModel)]="newValeur"
                            />
                          </div>
                          <div class="row">
                            <div class="mt-3 col-7">
                              <button
                                type="button"
                                class="bg-primary text-uppercase text-white form-control"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                                (click)="addNewValue()"
                              >
                                Enregistrer
                              </button>
                            </div>
                            <div class="mt-3 col-5">
                              <button
                                type="button"
                                class="bg-danger text-uppercase text-white form-control"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                              >
                                Fermer
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="col-lg-4 mt-3">
                  <button
                    (click)="updateproduit()"
                    *ngIf="!isloadingsubmitForm; else loader"
                    [disabled]="!isFormValid()"
                    type="button"
                    class="form-control bg-global-primary text-white"
                  >
                    Modifier <i class="fa-solid text-white mx-1 fa-pen"></i>
                  </button>
                </div>
              </div>
              <div class="col-lg-6 mt-3 text-end pt-3">
                <p>
                  NB : Les champs en
                  <span class="title-bg-global-secondary"> (*) </span> sont
                  obligatoire
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-uppercase fw-bold fs-5" id="exampleModalLabel">les variations</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    <input
                      [disabled]="true"
                    type="checkbox"
                    [(ngModel)]="selectAll"
                    (change)="toggleSelectAll()"
                    class="form-check-input"
                  />
                  </th>
                  <th>Variation</th>
                  <th>Quantité</th>
                  <th>Prix</th>
                  <th>Prix reduit</th>
                  <th>Prix de revient</th>
                  <th>Code à barre</th>
                  <th>Niveau finis</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let combination of productCombinations; let i = index">
                  <td>
                    <input
                      [disabled]="true"
                      type="checkbox"
                      [(ngModel)]="combination.selected"
                      (change)="onCheckboxChange(combination)"
                      class="form-check-input"
                    />
                  </td>
                  <td>
                    <button class="form-control">{{ combination.combination_hash }}</button>
                  </td>
                  <td>
                    <input
                      [disabled]="true"
                      type="number"
                      style="width: 100px; max-width: 100px;"
                      [(ngModel)]="combination.quantite_en_stock"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      [disabled]="true"
                      type="number"
                      [(ngModel)]="combination.prix"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      [disabled]="true"
                      type="number"
                      [(ngModel)]="combination.prix_reduit"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      [disabled]="true"
                      type="number"
                      [(ngModel)]="combination.prix_de_revient"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      [disabled]="true"
                      type="text"
                      [(ngModel)]="combination.code_barres"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      [disabled]="true"
                      type="number"
                      [(ngModel)]="combination.niveau_de_reapprovisionnement"
                      class="form-control"
                    />
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary" (click)="saveChangesVariations()">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>



<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
