<main class="nxl-container">
  <div class="nxl-content">
    <div class="col-lg-11 m-lg-auto">
      <div class="p-3">
        <div class="shadow bg-update  rounded rounded-4  py-0">
          <h1 class="text-white py-1 px-2">Rapports des ventes vendeurs</h1>
        </div>

        <div class="row mt-3">
          <div class="col-lg-4">
            <div class="shadow p-3 rounded rounded-4 bg-light">
              <p class="fw-bold text-lg-center  fs-5">
                <span>Montant total vendu : </span>
                <span class="text-danger">{{
                  globalService.formatPrixString(TotalMontant.toFixed(2))
                }}</span>
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="shadow p-3  rounded rounded-4 bg-light">
              <p class="fw-bold text-lg-center fs-5">
                <span>Point de vente : </span>
                <span class="text-danger">{{
                  getPointName(user.point_de_vente_id)
                }}</span>
              </p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="shadow p-3 rounded rounded-4 bg-light">
              <p class="fw-bold text-lg-center fs-5">
                <span>Benefice généré : </span>
                <span class="text-danger">{{
                  globalService.formatPrixString(
                    TotalMontantBenefice.toFixed(2)
                  )
                }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="shadow p-3 rounded rounded-4 bg-white mt-3">
          <div class="row">
            <div class="col-lg-4">
              <div class="d-flex align-items-center mt-4">
                <i
                  style="position: absolute"
                  class="fa-solid p-3 fa-magnifying-glass"
                ></i>

                <input
                  type="text"
                  (keyup)="applyFilter($event)"
                  placeholder="Recherchez un fournisseur ici..."
                  class="form-control text-start px-5 text-uppercase"
                />
              </div>
            </div>
            <div class="col-lg-4 pt-4">
              <button
                style="background-color: #3454d1"
                type="button"
                (click)="imprimer()"
                class="form-control text-white"
              >
                Imprimer la liste <i class="fa-solid fa-print"></i>
              </button>
            </div>
            <div class="col-lg-4 pt-4">
              <button
                style="background-color: #3454d1"
                type="button"
                (click)="openPointsDeVentes()"
                class="form-control text-white"
              >
                Ajouter une vente <i class="mx-1 fa-solid fa-user"></i>
              </button>
            </div>
          </div>
          <div class="content m-1 pb-3">
            <div class="row">
              <div class="col-lg-3">
                <label for="utilisateur" class="mt-3">Vendeurs</label>
                <select
                  (change)="selectUser($event)"
                  class="form-control form-select"
                  id="utilisateur"
                >
                  <option>Filtrer par vendeur</option>
                  <option
                    *ngFor="let option of tbUsers"
                    [value]="option.utilisateur_id"
                  >
                    {{ option.nom_utilisateur }}
                  </option>
                </select>
              </div>
              <div class="col-lg-3">
                <label for="" class="mt-3">Client</label>
                <select
                  (change)="selectClient($event)"
                  class="form-control form-select"
                  id="utilisateur"
                >
                  <option>Filtrer par client</option>
                  <option
                    *ngFor="let option of tbClients"
                    [value]="option.client_id"
                  >
                    {{ option.nom }}
                  </option>
                </select>
              </div>
              <div class="col-lg-3">
                <label for="" class="mt-3"
                  >Filtrer par date début (vente)</label
                >
                <input
                  (change)="selectDateDebut($event)"
                  class="form-control"
                  type="date"
                />
              </div>
              <div class="col-lg-3">
                <label for="" class="mt-3">Filtre par date fin (vente)</label>
                <input
                  (change)="selectDateFin($event)"
                  class="form-control"
                  type="date"
                />
              </div>
            </div>
          </div>
          <div
            class="mat-elevation-z8 rounded rounded-4 mt-3"
            style="max-height: 300px; overflow-y: auto"
            *ngIf="!isloadingpage; else loader"
          >
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="date_vente">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Date vente
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ globalService.formatDate(element.date_vente) }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                >
                  Total
                </td>
              </ng-container>

              <ng-container matColumnDef="montant_total">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Montant total vendu
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ globalService.formatPrix(element.montant_total) }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                >
                  {{ globalService.formatPrixString(TotalMontant.toFixed(2)) }}
                </td>
              </ng-container>

              <ng-container matColumnDef="client_id">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Client
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ getClientName(element.client_id) }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                ></td>
              </ng-container>

              <ng-container matColumnDef="utilisateur_id">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Vendeur
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ getUserName(element.utilisateur_id) }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                ></td>
              </ng-container>

              <ng-container matColumnDef="point_de_vente_id">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Point de Vente
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ getPointName(element.point_de_vente_id) }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                ></td>
              </ng-container>

              <ng-container matColumnDef="total_benefice_vente">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Benefice
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.total_benefice_vente }}
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                >
                  {{ globalService.formatPrix(TotalMontantBenefice) }}
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="Actions">
                <th class="text-center" mat-header-cell *matHeaderCellDef>
                  Actions
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  <p
                    (click)="actions(element)"
                    style="cursor: pointer"
                    class="p-2 actions"
                  >
                    <span class="fs-6">...</span>
                  </p>
                </td>
                <td
                  mat-footer-cell
                  class="bg-table-color text-light"
                  *matFooterCellDef
                ></td>
              </ng-container> -->

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr
                class="bg-sticky-footer"
                mat-footer-row
                *matFooterRowDef="displayedColumns; sticky: true"
              ></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
