<div class="row mt-3 justify-content-end">
  <div class="col-lg-3 d-flex justify-content-end">
    <button class="border-0 fs-6 bg-white">Filtrer par dates :</button>
  </div>

  <div class="col-lg-2 mx-2 d-flex justify-content-end">
    <input
      type="date"
      class="form-control"
      [(ngModel)]="dateDebut"
      (change)="onFilterChange()"
    />
  </div>

  <div class="col-lg-2 d-flex justify-content-end">
    <input
      type="date"
      class="form-control"
      [(ngModel)]="dateFin"
      (change)="onFilterChange()"
    />
  </div>

  <div class="col-lg-2 d-flex justify-content-end">
    <select
      class="form-select form-control"
      [(ngModel)]="comparateur"
      (change)="onFilterChange()"
    >
      <option disabled selected>Comparer</option>
      <option value="aujourdhui">Aujourd'hui</option>
      <option value="semaine_derniere">Semaine dernière</option>
      <option value="cette_semaine">Cette semaine</option>
      <option value="mois">Ce mois</option>
    </select>
  </div>
</div>
<hr />

<div class="row mt-5">
  <div class="col-xxl-4 col-md-3">
    <div class="card card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="me-3">
          <h5 class="fs-5">
            {{ globalService.formatPrixString(chiffreAffaires.toFixed(2)) }}
          </h5>
          <span class="text-muted">Chiffre D’affaire</span>
        </div>
        <div class="avatar-text avatar-lg bg-teal text-white rounded">
          <i class="feather-dollar-sign"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-4 col-md-3">
    <div class="card card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="me-3">
          <h5 class="fs-5">
            {{ globalService.formatPrixString(margeBrute.toFixed(2)) }}
            <!-- ({{ pourcentageMargeBrute }} %) -->
          </h5>
          <span class="text-muted">Marge Brute</span>
        </div>
        <div class="avatar-text avatar-lg bg-success text-white rounded">
          <i class="feather-bar-chart-2"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Marge Nette (%) -->
  <div class="col-xxl-3 col-md-3">
    <div class="card card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="me-3">
          <h5 class="fs-5">{{ margeNette.toFixed(2) }} %</h5>
          <span class="text-muted">Marge nette</span>
        </div>
        <div class="avatar-text avatar-lg bg-warning text-white rounded">
          <i class="feather-tag"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Bénéfice Net -->
  <div class="col-xxl-3 col-md-3">
    <div class="card card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h5 *ngIf="beneficeNet" class="fs-5">
            {{ globalService.formatPrixString(beneficeNet.toFixed(2)) }}
          </h5>
          <span class="text-muted">Bénéfice net</span>
        </div>
        <div class="avatar-text avatar-lg bg-primary text-white rounded">
          <i class="feather-dollar-sign"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Ratio Ventes / Dépenses -->
  <div class="col-xxl-3 col-md-3">
    <div class="card card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h5 class="fs-5">
            {{ ratioVentesDepenses.toFixed(2) }}
          </h5>
          <span class="text-muted">Ratio Ventes / Dépenses</span>
        </div>
        <div class="avatar-text avatar-lg bg-info text-white rounded">
          <i class="feather-pie-chart"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card stretch stretch-full">
      <div class="card-header">
        <h5 class="card-title">Comparatif Chiffre d’affaire ou Bénéfice Net</h5>
        <span
          id="periode-affichage"
          class="text-muted text-end small fw-bold"
        ></span>

        <div class="card-header-action">
          <div class="card-header-btn">
            <div data-bs-toggle="tooltip" title="Delete">
              <a
                href="javascript:void(0);"
                class="avatar-text avatar-xs bg-danger"
                data-bs-toggle="remove"
              >
              </a>
            </div>
            <div data-bs-toggle="tooltip" title="Refresh">
              <a
                href="javascript:void(0);"
                class="avatar-text avatar-xs bg-warning"
                data-bs-toggle="refresh"
              >
              </a>
            </div>
            <div data-bs-toggle="tooltip" title="Maximize/Minimize">
              <a
                href="javascript:void(0);"
                class="avatar-text avatar-xs bg-success"
                data-bs-toggle="expand"
              >
              </a>
            </div>
          </div>
          <div class="dropdown">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-sm"
              data-bs-toggle="dropdown"
              data-bs-offset="25, 25"
            >
              <div data-bs-toggle="tooltip" title="Options">
                <i class="feather-more-vertical"></i>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-at-sign"></i>New</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-calendar"></i>Event</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-bell"></i>Snoozed</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-trash-2"></i>Deleted</a
              >
              <div class="dropdown-divider"></div>
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-settings"></i>Settings</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-life-buoy"></i>Tips & Tricks</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card-body custom-card-action">
        <div id="beneffice-net-chiffre"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card stretch stretch-full">
      <div class="card-header">
        <h5 class="card-title">
          Comparatif Total dépenses vs Chiffre d’affaire
        </h5>
        <span
          id="periode-affichage"
          class="text-muted text-end small fw-bold"
        ></span>

        <div class="card-header-action">
          <div class="card-header-btn">
            <div data-bs-toggle="tooltip" title="Delete">
              <a
                href="javascript:void(0);"
                class="avatar-text avatar-xs bg-danger"
                data-bs-toggle="remove"
              >
              </a>
            </div>
            <div data-bs-toggle="tooltip" title="Refresh">
              <a
                href="javascript:void(0);"
                class="avatar-text avatar-xs bg-warning"
                data-bs-toggle="refresh"
              >
              </a>
            </div>
            <div data-bs-toggle="tooltip" title="Maximize/Minimize">
              <a
                href="javascript:void(0);"
                class="avatar-text avatar-xs bg-success"
                data-bs-toggle="expand"
              >
              </a>
            </div>
          </div>
          <div class="dropdown">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-sm"
              data-bs-toggle="dropdown"
              data-bs-offset="25, 25"
            >
              <div data-bs-toggle="tooltip" title="Options">
                <i class="feather-more-vertical"></i>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-at-sign"></i>New</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-calendar"></i>Event</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-bell"></i>Snoozed</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-trash-2"></i>Deleted</a
              >
              <div class="dropdown-divider"></div>
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-settings"></i>Settings</a
              >
              <a href="javascript:void(0);" class="dropdown-item"
                ><i class="feather-life-buoy"></i>Tips & Tricks</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card-body custom-card-action">
        <div id="total-depense-chiffres-affaire"></div> 
          <div id="total-depense-chiffres-affaire"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="card stretch stretch-full">
    <div class="card-header">
      <h5 class="card-title">Benefice Net</h5>
      <span
        id="periode-affichage1"
        class="text-muted text-end small fw-bold"
      ></span>

      <div class="card-header-action">
        <div class="card-header-btn">
          <div data-bs-toggle="tooltip" title="Delete">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-danger"
              data-bs-toggle="remove"
            >
            </a>
          </div>
          <div data-bs-toggle="tooltip" title="Refresh">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-warning"
              data-bs-toggle="refresh"
            >
            </a>
          </div>
          <div data-bs-toggle="tooltip" title="Maximize/Minimize">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-success"
              data-bs-toggle="expand"
            >
            </a>
          </div>
        </div>
        <div class="dropdown">
          <a
            href="javascript:void(0);"
            class="avatar-text avatar-sm"
            data-bs-toggle="dropdown"
            data-bs-offset="25, 25"
          >
            <div data-bs-toggle="tooltip" title="Options">
              <i class="feather-more-vertical"></i>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-at-sign"></i>New</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-calendar"></i>Event</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-bell"></i>Snoozed</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-trash-2"></i>Deleted</a
            >
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-settings"></i>Settings</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-life-buoy"></i>Tips & Tricks</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="card-body custom-card-action">
      <div id="beneffice-net"></div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="card stretch stretch-full">
    <div class="card-header">
      <h5 class="card-title">Taux de rentabilité</h5>
      <span
        id="periode-affichage1"
        class="text-muted text-end small fw-bold"
      ></span>

      <div class="card-header-action">
        <div class="card-header-btn">
          <div data-bs-toggle="tooltip" title="Delete">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-danger"
              data-bs-toggle="remove"
            >
            </a>
          </div>
          <div data-bs-toggle="tooltip" title="Refresh">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-warning"
              data-bs-toggle="refresh"
            >
            </a>
          </div>
          <div data-bs-toggle="tooltip" title="Maximize/Minimize">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-success"
              data-bs-toggle="expand"
            >
            </a>
          </div>
        </div>
        <div class="dropdown">
          <a
            href="javascript:void(0);"
            class="avatar-text avatar-sm"
            data-bs-toggle="dropdown"
            data-bs-offset="25, 25"
          >
            <div data-bs-toggle="tooltip" title="Options">
              <i class="feather-more-vertical"></i>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-at-sign"></i>New</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-calendar"></i>Event</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-bell"></i>Snoozed</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-trash-2"></i>Deleted</a
            >
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-settings"></i>Settings</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-life-buoy"></i>Tips & Tricks</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="card-body custom-card-action">
      <div id="graph-taux-rentabilite"></div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="card stretch stretch-full">
    <div class="card-header">
      <h5 class="card-title text-uppercase">
        Top 5 Produits les plus rentables
      </h5>
      <div class="card-header-action">
        <div class="card-header-btn">
          <div data-bs-toggle="tooltip" title="Delete">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-danger"
              data-bs-toggle="remove"
            >
            </a>
          </div>
          <div data-bs-toggle="tooltip" title="Refresh">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-warning"
              data-bs-toggle="refresh"
            >
            </a>
          </div>
          <div data-bs-toggle="tooltip" title="Maximize/Minimize">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-success"
              data-bs-toggle="expand"
            >
            </a>
          </div>
        </div>
        <div class="dropdown">
          <a
            href="javascript:void(0);"
            class="avatar-text avatar-sm"
            data-bs-toggle="dropdown"
            data-bs-offset="25, 25"
          >
            <div data-bs-toggle="tooltip" title="Options">
              <i class="feather-more-vertical"></i>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-at-sign"></i>New</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-calendar"></i>Event</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-bell"></i>Snoozed</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-trash-2"></i>Deleted</a
            >
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-settings"></i>Settings</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-life-buoy"></i>Tips & Tricks</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="card-body custom-card-action">
      <div class="table-responsive">
   <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Produit</th>
        <th scope="col">Chiffre d'affaires (FCFA)</th>
        <th scope="col">Bénéfice net (FCFA)</th>
        <th scope="col">Taux de rentabilité (%)</th>
      </tr>
    </thead>
    <tbody>
      <!-- Lister les produits les plus rentables -->
      <tr *ngFor="let produit of topProduits">
        <td>{{ produit.produit }}</td>
        <td>{{ globalService.formatPrixString(produit.chiffreAffaires.toFixed(2)) }}</td>
        <td>{{ globalService.formatPrixString(produit.beneficeNet.toFixed(2)) }}</td>
        <td>{{ produit.tauxRentabilite }}%</td>
      </tr>
    </tbody>
  </table>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card stretch stretch-full">
    <div class="card-header">
      <h5 class="card-title text-uppercase">
        Top 5 Catégories les plus rentables
      </h5>
      <div class="card-header-action">
        <div class="card-header-btn">
          <div data-bs-toggle="tooltip" title="Delete">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-danger"
              data-bs-toggle="remove"
            >
            </a>
          </div>
          <div data-bs-toggle="tooltip" title="Refresh">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-warning"
              data-bs-toggle="refresh"
            >
            </a>
          </div>
          <div data-bs-toggle="tooltip" title="Maximize/Minimize">
            <a
              href="javascript:void(0);"
              class="avatar-text avatar-xs bg-success"
              data-bs-toggle="expand"
            >
            </a>
          </div>
        </div>
        <div class="dropdown">
          <a
            href="javascript:void(0);"
            class="avatar-text avatar-sm"
            data-bs-toggle="dropdown"
            data-bs-offset="25, 25"
          >
            <div data-bs-toggle="tooltip" title="Options">
              <i class="feather-more-vertical"></i>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-at-sign"></i>New</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-calendar"></i>Event</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-bell"></i>Snoozed</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-trash-2"></i>Deleted</a
            >
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-settings"></i>Settings</a
            >
            <a href="javascript:void(0);" class="dropdown-item"
              ><i class="feather-life-buoy"></i>Tips & Tricks</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="card-body custom-card-action">
      <div class="table-responsive">
   <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Catégorie</th>
        <th scope="col">Chiffre d'affaires (FCFA)</th>
        <th scope="col">Bénéfice net (FCFA)</th>
        <th scope="col">Taux de rentabilité (%)</th>
      </tr>
    </thead>
    <tbody>
      <!-- Lister les catégories les plus rentables -->
      <tr *ngFor="let categorie of topCategories">
        <td>{{ getCategorieName(categorie.categorieId) }}</td>
        <td>{{ globalService.formatPrixString(categorie.chiffreAffaires.toFixed(2)) }}</td>
        <td>{{ globalService.formatPrixString(categorie.beneficeNet.toFixed(2)) }}</td>
        <td>{{ categorie.tauxRentabilite }}%</td>
      </tr>
    </tbody>
  </table>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
