<div class="container-fuild rounded rounded-4">
  <div class="row">
    <div class="col-lg-12">
      <form
        #roleForm ="ngForm"
        (ngSubmit)="onSubmitForm(roleForm )"
        class="row bg-white shadow p-3 needs-validation"
      >
      <div class="col-lg-12">
        <label for="validationCustom01" class="form-label label">Role</label>
        <input 
          type="text" 
          class="form-control" 
          [(ngModel)]="nom_role" 
          name="nom_role" 
          placeholder="Enter role (e.g., Admin, Vendeur, Manager, Gérant)"
        />
      </div>
      

        <div class="col-lg-12 mt-3">
          <label for="validationCustom01" class="form-label label"
            >Permissions</label
          >
          <textarea
            class="form-control"
            name="permissions"
            [(ngModel)]="permissions"
            rows="3"
          ></textarea>
        </div>

        <div class="col-lg-3 mt-3">
          <button type="submit" class="form-control bg-update text-white">
            Valider <i class="fa-solid text-white mx-1 fa-pen"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>  
