

          <div class="shadow bg-white">
           <div class="row mb-2 p-2">
              <div class="col-lg-3">
                <div class="d-flex align-items-center">
                  <i
                    style="position: absolute"
                    class="fa-solid p-3 fa-magnifying-glass"
                  ></i>
  
                  <input
                    type="text"
                    (keyup)="applyFilter($event)"
                    placeholder="Recherchez un client ici..."
                    class="form-control text-start px-5 text-uppercase"
                  />
                </div>
              </div>
              <div class="col-lg-3">
                <button
                  style="background-color: #3454d1"
                  type="button"
                  class="form-control text-white"
                  (click)="create()"
                >
                <i class="fa-solid mx-2 fa-plus"></i> Ajouter un nouveau client 
                </button>
              </div>
            </div>
            <div
              class="mat-elevation-z8"
            >
              <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="nom">
                  <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                    Nom
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element"
                  (click)="onClickLine(element)"
                 [ngClass]="{
                    'bg-color': clientSelected == element,
                    cursor: clientSelected
                  }">
                    {{ element.nom }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="prenom">
                  <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                    Prénom
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element"
                  (click)="onClickLine(element)"
                 [ngClass]="{
                    'bg-color': clientSelected == element,
                    cursor: clientSelected
                  }">
                    {{ element.prenom }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="sexe">
                  <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                    Sexe
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element"
                  (click)="onClickLine(element)"
                 [ngClass]="{
                    'bg-color': clientSelected == element,
                    cursor: clientSelected
                  }">
                    {{ element.sexe }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="adresse">
                  <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                    Adresse
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element"
                  (click)="onClickLine(element)"
                 [ngClass]="{
                    'bg-color': clientSelected == element,
                    cursor: clientSelected
                  }">
                    {{ element.adresse }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="email">
                  <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                    Email
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element"
                  (click)="onClickLine(element)"
                 [ngClass]="{
                    'bg-color': clientSelected == element,
                    cursor: clientSelected
                  }">
                    {{ element.email }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="telephone">
                  <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                    Téléphone
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element"
                  (click)="onClickLine(element)"
                 [ngClass]="{
                    'bg-color': clientSelected == element,
                    cursor: clientSelected
                  }">
                    {{ element.telephone }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="nationalite">
                  <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                    Nationalité
                  </th>
                  <td class="pointer" mat-cell *matCellDef="let element"
                  (click)="onClickLine(element)"
                 [ngClass]="{
                    'bg-color': clientSelected == element,
                    cursor: clientSelected
                  }">
                    {{ element.nationalite }}
                  </td>
                </ng-container>
  
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[10, 20, 30]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
              >
              </mat-paginator> 
            </div>
          </div>

  