<main class="nxl-container bg-white">
  <div class="nxl-content">
    <div class="pt-3">
      <div class="content m-1 pb-1">
        <span class="text-on-border">Parametres </span>
        <div class="block-comptabilite mt-3">
          <div class="content m-1 pb-1">
            <span class="text-on-border fw-bold text-danger fw-bold">Comptabilité </span>
            <div class="row p-3">
              <div
              routerLink="/caisse-principale"
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Caisse Principale <span class="text-end mx-3 fw-bold text-dark"><i class="fa-solid fa-dollar-sign"></i></span></p>
              </div>
              <div
              routerLink="/caisse-vendeur"
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Caisses Vendeurs <span class="text-end mx-3 fw-bold text-dark"><i class="fa-solid fa-dollar-sign"></i></span></p>
              </div>
              <div
              routerLink="/caisse-exploitation"
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Caisse d'exploitation <span class="text-end mx-3 fw-bold text-dark"><i class="fa-solid fa-dollar-sign"></i></span></p>
              </div>
              <div
              routerLink="/transfert-inter-caisse-banquaire"
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Transfert inter caisse banquaire</p>
              </div>

              <div
              routerLink="/cloture-journee"
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Cloture des caisses</p>
              </div>
              <div
              routerLink="/historique-des-caisses-vendeurs"
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Historiques des caisses</p>
              </div>
              <div
              routerLink="/historiques-des-clotures-des-caisses"
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Historiques des clotures des caisses</p>
              </div>
              <div
              routerLink="/transfer-inter-caisse"
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Transferts inter caisse</p>
              </div>
              <div
              routerLink="/banque"
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Banque</p>
              </div>
              <div
              routerLink="/vente-journaliere"
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Historique des ventes journalière</p>
              </div>
            </div>
          </div>
        </div>
        <div class="block-localisation bg-light mt-3">
          <div class="content m-1 pb-1">
            <span class="text-on-border fw-bold text-danger fw-bold">Localisation </span>
            <div class="row p-3">
              <div
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Caisses Principale</p>
              </div>
              <div
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Caisses Vendeurs</p>
              </div>
              <div
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Caisses d'exploitation</p>
              </div>
              <div
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Etat de la caisse</p>
              </div>

              <div
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Cloture des caisses</p>
              </div>
              <div
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Historiques des caisses</p>
              </div>
              <div
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Historiques des clotures des caisses</p>
              </div>
              <div
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Transferts inter caisse</p>
              </div>
            </div>
          </div>
        </div>
        <div class="block-divers mt-3">
          <div class="content m-1 pb-1">
            <span class="text-on-border fw-bold text-danger fw-bold">Divers </span>
            <div class="row p-3">
              <div
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Caisses Principale</p>
              </div>
              <div
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Caisses Vendeurs</p>
              </div>
              <div
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Caisses d'exploitation</p>
              </div>
              <div
                class="col-lg-3 rounded rounded-5 pt-2 border block-p text-center"
              >
                <p>Etat de la caisse</p>
              </div>

              <div
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Cloture des caisses</p>
              </div>
              <div
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Historiques des caisses</p>
              </div>
              <div
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Historiques des clotures des caisses</p>
              </div>
              <div
                class="col-lg-3 rounded mt-2 rounded-5 pt-2 border block-p text-center"
              >
                <p>Transferts inter caisse</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div
        routerLink="/role"
        class="col-lg-2 bg-global-primary text-white border p-2 text-center"
      >
        <p>Role</p>
      </div>
      <div
        routerLink="/session-vente-list"
        class="col-lg-3 bg-global-primary text-white border p-2 text-center"
      >
        <p>Session de vente</p>
      </div>
    </div> -->
  </div>
</main>
