<main class="nxl-container">
  <div class="nxl-content">
    <div class="p-2 m-lg-auto">
      <div class="row">
        <!-- Colonne de sélection du mode de paiement -->
        <div class="col-lg-3">
          <div class="p-2 rounded rounded-2" style="height: 400px">
            <div class="row">
              <div class="col-12" *ngFor="let payment of payments">
                <div class="btn-payement rounded rounded-2">
                  <button
                    class="form-control mb-3 border-0"
                    (click)="onPaymentSelect(payment)"
                  >
                    {{ payment }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          
 
          <div class="col-lg-12 mt-3">
            <div class="px-2">
              <div class="row mb-2">
                <div class="col-lg-6 p-1">
                  <button (click)="chooseClient()" class="form-control bg-primary text-white py-2 text-black mx-1">
                    {{!clientSelected ? 'Client' : clientSelected.nom}}
                  </button>
                </div>
                <div class="col-lg-6 p-1">
                  <div class="form-check bg-white border rounded rounded-3 py-2  d-flex align-items-center justify-content-between">
                    <div class="form-check-label" for="flexCheckDefault">
                      facture
                    </div>
                    <input class="form-check-input mx-3" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 calculatrice">
                  <div class="row">
                    <div
                      class="col-lg-4 px-1 mb-2"
                      *ngFor="
                        let chiffre of [
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          7,
                          8,
                          9,
                          0,
                          '.',
                          '+/-'
                        ]
                      "
                    >
                      <button class="form-control fs-5">
                        {{ chiffre }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 p-1">
                  <div class="mb-2">
                    <button class="form-control fs-5">+10</button>
                  </div>
                  <div class="mb-2">
                    <button class="form-control fs-5">+10</button>
                  </div>
                  <div class="mb-2">
                    <button class="form-control fs-5">+10</button>
                  </div>
                  <div class="mb-2">
                    <button class="form-control fs-5">+10</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="bg-white rounded border rounded-2 p-1">
                  <button (click)="back()" class="form-control border-0 fs-6 text-black">
                    Retour
                  </button>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="bg-primary rounded rounded-2 p-1">
                  <button
                  (click)="Valider()"
                    class="form-control border-0 bg-primary fs-6 text-white"
                  >
                    Valider
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Colonne de récapitulatif de paiement -->
        <div class="col-lg-9 px-3">
          <div class="bg-white row">
            <p class="text-center fs-2 fw-bold py-4">{{globalService.formatPrix(montant_total)}}</p>
          </div>
          <div
            class="bg-white mt-3 row"
            style="
              height: 694px;
              max-height: 695px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
                   <!-- Message de sélection d'un mode de paiement -->
                   <div class="col-12 mt-3" *ngIf="!mode_de_paiement">
                    <div class="alert alert-info text-center">
                      <strong>Sélectionnez un moyen de paiement</strong>
                    </div>
                  </div>
                  
            <div class="col-lg-10" *ngIf="selectedPayments.length > 0">
              <div class="row px-3 py-3 rounded rounded-2 bg-primary">
                <div class="col-lg-6">
                  <p class="text-white fs-4">Reste</p>
                </div>
                <div class="col-lg-6">
                  <p class="text-end text-white fs-4">0</p>
                </div>
              </div>
              <div class="row">
                <div class="mt-3 border bg-light py-3 px-3 d-flex justify-content-between align-items-center" *ngFor="let selectedPayment of selectedPayments; let i = index">
                  {{ selectedPayment }}
                  <div>
                    <span class="mx-3 fw-bold text-black">
                      {{ i === 0 ? globalService.formatPrix(montant_total) : globalService.formatPrix(0) }}
                    </span>
                    <span class="text-danger" (click)="removePayment(i)">
                      <i class="fa fa-times"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
