<main class="nxl-container">
  <div class="nxl-content">
  <div class="pt-4">
    <div class="col-lg-11 bg-white p-2 rounded rounded-4  m-lg-auto">
      <div class="p-3">
        <div class="row">
          <div class="col-lg-8">
            <h1 class="rounded rounded-4 text-uppercase py-1 px-3">
              rapports automatisées
            </h1>
          </div>
          <div class="col-lg-2">
            <div class="">
              <button
                style="background-color: #3454d1"
                type="button"
                class="text-uppercase btn text-white"
              >
              <i class="fa-solid fa-download mx-2"></i>  Export csv
              </button>
            </div>
          </div>
          <div class="col-lg-2">
            <div>
              <button
              [disabled]="nbreRapport"
                style="background-color: #3454d1"
                type="button"
                (click)="createteRole()"
                class="btn text-uppercase text-white"
              >
              <i class="fa-solid mx-2 fa-plus"></i>  Ajouter un rapport 
              </button>
            </div>
          </div>
        </div>
        <div class="mt-1">
          <!-- <div class="row">
            <div class="col-lg-3">
              <div class="d-flex align-items-center mt-4">
                <i
                  style="position: absolute"
                  class="fa-solid p-3 fa-magnifying-glass"
                ></i>

                <input
                  type="text"
                  (keyup)="applyFilter($event)"
                  placeholder="Recherchez un rapport ici..."
                  class="form-control text-start px-5 text-uppercase"
                />
              </div>
            </div>
          </div> -->
          <div
            class="mat-elevation-z8 mt-4">
            <table mat-table [dataSource]="dataSource" style="max-height: 400px; overflow-y: auto"
            *ngIf="!isloadingpage; else loader">
              <ng-container matColumnDef="type_rapport">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Type de rapport
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.type_rapport }}
                </td>
              </ng-container>

              <ng-container matColumnDef="donnees">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Rapport
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.donnees }}
                </td>
              </ng-container>

              <ng-container matColumnDef="nom_destinataire">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Nom destinataire
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.nom_destinataire }}
                </td>
              </ng-container>


              <ng-container matColumnDef="email_destinataire">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Email destinataire
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.email_destinataire }}
                </td>
              </ng-container>

              <ng-container matColumnDef="nom_generateur">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                 Nom émetteur
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.nom_generateur }}
                </td>
              </ng-container>

              <ng-container matColumnDef="Actions">
                <th class="text-center" mat-header-cell *matHeaderCellDef>
                  Actions
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  <button
                  (click)="editRole(element)"
                  style="cursor: pointer"
                  class=" border border-0 rounded rounded-2 actions"
                >
                <i class="fa-solid fa-eye"></i>
                 </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
           </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>

<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
