<main class="nxl-container">
  <div class="nxl-content pt-lg-5">
    <div class="col-lg-11 m-lg-auto">
<div class="row align-items-center mb-4">
  <div class="col">
    <h1 class="text-uppercase m-0">Historique des sessions</h1>
  </div>
  <div class="col-auto">
    <button
      style="background-color: #3454d1"
      type="button"
      class="btn btn-uniform-height text-uppercase text-white"
    >
      <i class="fa-solid fa-download mx-2"></i> Export CSV
    </button>
  </div>
</div>
      <div class="p-3 bg-white p-2 rounded rounded-4">
        <div class="bg-white mt-1">
          <div class="row mb-3 align-items-center">
            <div class="col-lg-3">
              <div class="d-flex align-items-center mt-4">
                <i
                  style="position: absolute"
                  class="fa-solid p-3 fa-magnifying-glass"
                ></i>

                <input
                  type="text"
                  (keyup)="applyFilter($event)"
                  placeholder="Recherchez une session ici..."
                  class="form-control text-start px-5 text-uppercase"
                />
              </div>
            </div>
          </div>

          <div class="mat-elevation-z8">
            <table
              mat-table
              [dataSource]="dataSource"
              style="max-height: 400px; overflow-y: auto"
              *ngIf="!isloadingpage; else loader"
            >
              <ng-container matColumnDef="user_id">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Initié par
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ getUserName(element.user_id) }}
                </td>
              </ng-container>

              <ng-container matColumnDef="point_de_vente_id">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Point de vente
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ getPointName(element.point_de_vente_id) }}
                </td>
              </ng-container>
              <ng-container matColumnDef="session_id">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Session ID
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.session_id }}
                </td>
              </ng-container>
              <ng-container matColumnDef="solde_ouverture">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Solde ouverture
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ globalService.formatPrix(element.solde_ouverture) }}
                </td>
              </ng-container>

              <ng-container matColumnDef="solde_fermeture">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Solde fermeture
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ globalService.formatPrix(element.solde_fermeture) }}
                </td>
              </ng-container>

              <ng-container matColumnDef="statut">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Statut
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{ element.statut }}
                </td>
              </ng-container>

              <ng-container matColumnDef="start_time">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Date début
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{
                    globalService.formatFrenchDateSessionVnte(
                      element.start_time
                    )
                  }}
                </td>
              </ng-container>

              <ng-container matColumnDef="end_time">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                  Date fin
                </th>
                <td class="pointer" mat-cell *matCellDef="let element">
                  {{
                    globalService.formatFrenchDateSessionVnte(element.end_time)
                  }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
