/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bg-global-primary{
    background-color: #3454d1;
}

.bg-global-secondary{
    background-color: #ea4d4d
}

.title-bg-global-primary{
    color: #3454d1;
}

.title-bg-global-secondary{
    color: #ea4d4d
}