
          <form
            #roleForm="ngForm"
            (ngSubmit)="onSubmitForm(roleForm)"
            class="row rounded rounded-4 p-3 bg-white needs-validation"
          >
              <div class="mb-3">
                <label for="validationCustom01" class="form-label label"
                  >Type du rapport</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="type_rapport"
                  [(ngModel)]="type_rapport"
                />
              </div>

              <div class="mb-3">
                <label for="validationCustom01" class="form-label label"
                  >Nom du générateur</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="nom_generateur"
                  [(ngModel)]="nom_generateur"
                />
              </div>
              <div class="">
                <label for="validationCustom01" class="form-label label"
                  >Rapport</label
                >
                <textarea
                  class="form-control"
                  name="donnees"
                  [(ngModel)]="donnees"
                  rows="4"
                ></textarea>
              </div>
            <div class="col-lg-2 mt-3">
              <button type="submit" class="form-control bg-update text-white">
                Valider <i class="fa-solid text-white mx-1 fa-pen"></i>
              </button>
            </div>
          </form>
   

    

