<main class="nxl-container">
  <div class="nxl-content">
    <!-- [ page-header ] start -->
    <div class="page-header">
      <div class="page-header-left d-flex align-items-center">
        <div class="page-header-title"></div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
          <li class="breadcrumb-item">Tableau de bord</li>
        </ul>
      </div>
      <div class="page-header-right ms-auto">
        <div class="page-header-right-items">
          <div class="d-flex d-md-none">
            <a href="javascript:void(0)" class="page-header-right-close-toggle">
              <i class="feather-arrow-left me-2"></i>
              <span>Back</span>
            </a>
          </div>
          <div
            class="d-flex align-items-center gap-2 page-header-right-items-wrapper"
          >
            <div
              id="reportrange"
              class="reportrange-picker d-flex align-items-center"
            >
              <span class="reportrange-picker-field"></span>
            </div>
            <div class="dropdown filter-dropdown">
              <a
                class="btn btn-md btn-light-brand"
                data-bs-toggle="dropdown"
                data-bs-offset="0, 10"
                data-bs-auto-close="outside"
              >
                <i class="feather-filter me-2"></i>
                <span>Filter</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <div class="dropdown-item">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="Role"
                      checked="checked"
                    />
                    <label class="custom-control-label c-pointer" for="Role"
                      >Role</label
                    >
                  </div>
                </div>
                <div class="dropdown-item">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="Team"
                      checked="checked"
                    />
                    <label class="custom-control-label c-pointer" for="Team"
                      >Team</label
                    >
                  </div>
                </div>
                <div class="dropdown-item">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="Email"
                      checked="checked"
                    />
                    <label class="custom-control-label c-pointer" for="Email"
                      >Email</label
                    >
                  </div>
                </div>
                <div class="dropdown-item">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="Member"
                      checked="checked"
                    />
                    <label class="custom-control-label c-pointer" for="Member"
                      >Member</label
                    >
                  </div>
                </div>
                <div class="dropdown-item">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="Recommendation"
                      checked="checked"
                    />
                    <label
                      class="custom-control-label c-pointer"
                      for="Recommendation"
                      >Recommendation</label
                    >
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <a href="javascript:void(0);" class="dropdown-item">
                  <i class="feather-plus me-3"></i>
                  <span>Create New</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item">
                  <i class="feather-filter me-3"></i>
                  <span>Manage Filter</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="d-md-none d-flex align-items-center">
          <a href="javascript:void(0)" class="page-header-right-open-toggle">
            <i class="feather-align-right fs-20"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- [ page-header ] end -->
    <!-- [ Main Content ] start -->
    <div class="main-content">
      <div class="mt-5">
        <h1 class="fw-bold fs-3 px-1 py-1">
          Bonjour {{ user.prenom_utilisateur }}
        </h1>
      </div>
      <div class="col-lg-12">
        <div class="card stretch stretch-full">
          <div class="card-header">
            <h6 style="color: #47d385" class="card-title text-uppercase">
              <span *ngIf="point_de_vente_id">
                {{ getPointName(point_de_vente_id) }}</span
              >
            </h6>
            <span
              id="periode-affichage1"
              class="text-muted text-end small fw-bold"
            ></span>
            <div class="card-header-action">
              <select
                class="form-select"
                [(ngModel)]="comparateur"
                (change)="onFilterChange()"
              >
                <option value="Mois" [selected]="comparateur === 'Mois'">
                  Mois
                </option>
                <option value="Semaine" [selected]="comparateur === 'Semaine'">
                  Semaine
                </option>
                <option value="Jour" [selected]="comparateur === 'Jour'">
                  Jour
                </option>
                <option value="Annee" [selected]="comparateur === 'Annee'">
                  Année
                </option>
              </select>
            </div>
          </div>
          <div class="card-body custom-card-action">
            <div class="row">
              <div class="col-xxl-3 col-md-6">
                <div class="card stretch stretch-full">
                  <div class="card-body">
                    <div class="hstack justify-content-between">
                      <div>
                        <div class="hstack gap-2 mb-4">
                          <i class="feather-pie-chart"></i>
                          <span>Total ventes</span>
                        </div>
                        <h3 class="fw-bolder mb-3">
                          <span class="counter">{{ totalNombreVente }}</span>
                        </h3>
                      </div>
                      <a
                        href="javascript:void(0);"
                        class="badge bg-soft-danger text-danger"
                      >
                        {{ precedentNombreVente }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xxl-3 col-md-6">
                <div class="card stretch stretch-full">
                  <div class="card-body">
                    <div class="hstack justify-content-between">
                      <div>
                        <div class="hstack gap-2 mb-4">
                          <i class="feather-pie-chart"></i>
                          <span>Total clients</span>
                        </div>
                        <h3 class="fw-bolder mb-3">
                          <span class="counter">{{ totalNombreClient }}</span>
                        </h3>
                      </div>
                      <a
                        href="javascript:void(0);"
                        class="badge bg-soft-danger text-danger"
                      >
                        <a
                          href="javascript:void(0);"
                          class="badge bg-soft-danger text-danger"
                        >
                          {{ precedentNombreClient }}
                        </a>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xxl-3 col-md-6">
                <div class="card stretch stretch-full">
                  <div class="card-body">
                    <div class="hstack justify-content-between">
                      <div>
                        <div class="hstack gap-2 mb-4">
                          <i class="feather-dollar-sign"></i>
                          <span>Chiffre d'affaire</span>
                        </div>
                        <h3 class="fw-bolder mb-3">
                          <span class="counter">{{
                            globalService.formatPrixString(
                              chiffreAffaire.toFixed(2)
                            )
                          }}</span>
                        </h3>
                      </div>
                      <a
                        href="javascript:void(0);"
                        class="badge bg-soft-danger text-danger"
                      >
                        {{
                          globalService.formatPrixString(
                            precedentChiffreAffaire.toFixed(2)
                          )
                        }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xxl-3 col-md-6">
                <div class="card stretch stretch-full">
                  <div class="card-body">
                    <div class="hstack justify-content-between">
                      <div>
                        <div class="hstack gap-2 mb-4">
                          <i class="feather-dollar-sign"></i>
                          <span>Bénéfices net</span>
                        </div>
                        <h3 class="fw-bolder mb-3">
                          <span class="counter">{{
                            beneficeNet
                              ? globalService.formatPrixString(
                                  beneficeNet.toFixed(2)
                                )
                              : globalService.formatPrix(0)
                          }}</span>
                        </h3>
                      </div>
                      <a
                        href="javascript:void(0);"
                        class="badge bg-soft-danger text-danger"
                      >
                        {{
                          globalService.formatPrixString(
                            precedentBeneficeNet.toFixed(2)
                          )
                        }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
                            <div class="col-xxl-12">
                <div class="card stretch stretch-full">
                  <div class="card-header bg-primary">
                    <h5 class="card-title text-white">
                      Evolution du chiffre d'affaire
                    </h5>
                    <div class="card-header-action">
                      <div class="card-header-btn">
                        <div data-bs-toggle="tooltip" title="Delete">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-danger"
                            data-bs-toggle="remove"
                          >
                          </a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Refresh">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-warning"
                            data-bs-toggle="refresh"
                          >
                          </a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Maximize/Minimize">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-success"
                            data-bs-toggle="expand"
                          >
                          </a>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          class="avatar-text avatar-sm"
                          data-bs-toggle="dropdown"
                          data-bs-offset="25, 25"
                        >
                          <div data-bs-toggle="tooltip" title="Options">
                            <i class="feather-more-vertical"></i>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-calendar"></i>2024</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-calendar"></i>2025</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body custom-card-action p-0">
                    <div id="payment-records-chart2"></div>
                  </div>
                </div>
              </div>

              <div class="col-xxl-12">
                <div class="card stretch stretch-full">
                  <div class="card-header bg-primary">
                    <h5 class="card-title text-white">Benefices</h5>
                    <div class="card-header-action">
                      <div class="card-header-btn">
                        <div data-bs-toggle="tooltip" title="Delete">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-danger"
                            data-bs-toggle="remove"
                          >
                          </a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Refresh">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-warning"
                            data-bs-toggle="refresh"
                          >
                          </a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Maximize/Minimize">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-success"
                            data-bs-toggle="expand"
                          >
                          </a>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          class="avatar-text avatar-sm"
                          data-bs-toggle="dropdown"
                          data-bs-offset="25, 25"
                        >
                          <div data-bs-toggle="tooltip" title="Options">
                            <i class="feather-more-vertical"></i>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-calendar"></i>2024</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-calendar"></i>2025</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body custom-card-action p-0">
                    <div id="benefices-par-jour-chart"></div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="card stretch stretch-full">
          <div class="card-body custom-card-action">
            <div class="row">


              <div class="col-xxl-6">
                <div class="card stretch stretch-full">
                  <div class="card-header bg-primary">
                    <h5 class="card-title text-white">États stock produits</h5>
                    <div class="card-header-action">
                      <div class="card-header-btn">
                        <div data-bs-toggle="tooltip" title="Delete">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-danger"
                            data-bs-toggle="remove"
                          ></a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Refresh">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-warning"
                            data-bs-toggle="refresh"
                          ></a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Maximize/Minimize">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-success"
                            data-bs-toggle="expand"
                          ></a>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          class="avatar-text avatar-sm"
                          data-bs-toggle="dropdown"
                          data-bs-offset="25, 25"
                        >
                          <div data-bs-toggle="tooltip" title="Options">
                            <i class="feather-more-vertical"></i>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-at-sign"></i>New</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-calendar"></i>Event</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-bell"></i>Snoozed</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-trash-2"></i>Deleted</a
                          >
                          <div class="dropdown-divider"></div>
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-settings"></i>Settings</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-life-buoy"></i>Tips & Tricks</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div
                      class="table-responsive"
                      style="max-height: 350px; overflow-y: auto"
                    >
                      <table
                        class="table"
                        *ngIf="!isloadingproduit; else loader"
                      >
                        <thead>
                          <tr>
                            <th class="">Produit</th>
                            <th class="">Stock</th>
                            <th>Point de vente</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let q of TbStockproduits">
                            <td>
                              <div class="hstack gap-3">
                                <div class="avatar-image avatar-lg rounded">
                                  <img
                                    class="img-fluid"
                                    [src]="imageproduit[q.produit_id]"
                                    alt=""
                                  />
                                </div>
                                <div>
                                  <a
                                    href="javascript:void(0);"
                                    class="d-block"
                                    >{{ q.nom }}</a
                                  >
                                </div>
                              </div>
                            </td>
                            <td class="text-center">
                              {{ q.quantite }}
                            </td>
                            <td class="text-center">
                              {{ getPointName(q.point_de_vente_id) }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <a
                    routerLink="/produit/list"
                    class="card-footer fs-11 fw-bold text-uppercase text-center"
                    >Voir plus</a
                  >
                </div>
              </div>

              <div class="col-xxl-6">
                <div class="card stretch stretch-full">
                  <div class="card-header bg-primary text-white">
                    <h5 class="card-title text-white">Ventes récentes</h5>
                    <div class="card-header-action">
                      <div class="card-header-btn">
                        <div data-bs-toggle="tooltip" title="Delete">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-danger"
                            data-bs-toggle="remove"
                          ></a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Refresh">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-warning"
                            data-bs-toggle="refresh"
                          ></a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Maximize/Minimize">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-success"
                            data-bs-toggle="expand"
                          ></a>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          class="avatar-text avatar-sm"
                          data-bs-toggle="dropdown"
                          data-bs-offset="25, 25"
                        >
                          <div data-bs-toggle="tooltip" title="Options">
                            <i class="feather-more-vertical"></i>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-at-sign"></i>New</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-calendar"></i>Event</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-bell"></i>Snoozed</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-trash-2"></i>Deleted</a
                          >
                          <div class="dropdown-divider"></div>
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-settings"></i>Settings</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-life-buoy"></i>Tips & Tricks</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body custom-card-action p-0">
                    <div
                      class="table-responsive"
                      style="max-height: 400px; overflow-y: auto"
                    >
                      <table class="table table-hover mb-0">
                        <thead>
                          <tr class="border-b">
                            <th scope="row">Vente ID</th>
                            <th>Point de Vente</th>
                            <th>Date Vente</th>
                            <th>Montant Total</th>
                            <!-- <th>Client</th> -->
                            <!-- <th>Utilisateur</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let vente of dernieresVentes">
                            <td>{{ vente.vente_id }}</td>
                            <td>{{ getPointName(vente.point_de_vente_id) }}</td>
                            <td>
                              {{ globalService.formatDate(vente.date_vente) }}
                            </td>
                            <td>
                              {{
                                globalService.formatPrix(vente.montant_total)
                              }}
                            </td>
                            <!-- <td>{{ getClientsName(vente.client_id) }}</td> -->
                            <!-- <td>{{ getUserName(vente.utilisateur_id )}}</td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <a
                    routerLink="/vente/list"
                    class="card-footer fs-11 fw-bold text-uppercase text-center"
                    >Voir plus</a
                  >
                </div>
              </div>

              <div class="col-xxl-6">
                <div class="card stretch stretch-full">
                  <div class="card-header bg-primary">
                    <h5 class="card-title text-white">Clients récents</h5>
                    <div class="card-header-action">
                      <div class="card-header-btn">
                        <div data-bs-toggle="tooltip" title="Delete">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-danger"
                            data-bs-toggle="remove"
                          ></a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Refresh">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-warning"
                            data-bs-toggle="refresh"
                          ></a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Maximize/Minimize">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-success"
                            data-bs-toggle="expand"
                          ></a>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          class="avatar-text avatar-sm"
                          data-bs-toggle="dropdown"
                          data-bs-offset="25, 25"
                        >
                          <div data-bs-toggle="tooltip" title="Options">
                            <i class="feather-more-vertical"></i>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-at-sign"></i>New</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-calendar"></i>Event</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-bell"></i>Snoozed</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-trash-2"></i>Deleted</a
                          >
                          <div class="dropdown-divider"></div>
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-settings"></i>Settings</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-life-buoy"></i>Tips & Tricks</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body custom-card-action p-0">
                    <div
                      class="table-responsive"
                      style="max-height: 400px; overflow-y: auto"
                    >
                      <table class="table table-hover mb-0">
                        <thead>
                          <tr class="border-b">
                            <th scope="row">Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <!-- <th>Sexe</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let client of tbClients">
                            <td>{{ client.nom }}</td>
                            <td>{{ client.prenom }}</td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.telephone }}</td>
                            <!-- <td>{{ client.sexe }}</td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <a
                    routerLink="/client/list"
                    class="card-footer fs-11 fw-bold text-uppercase text-center"
                    >Voir plus</a
                  >
                </div>
              </div>

              <div class="col-xxl-6">
                <div class="card stretch stretch-full">
                  <div class="card-header bg-primary">
                    <h5 class="card-title text-white">
                      Produits les plus vendus
                    </h5>
                    <div class="card-header-action">
                      <div class="card-header-btn">
                        <div data-bs-toggle="tooltip" title="Delete">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-danger"
                            data-bs-toggle="remove"
                          >
                          </a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Refresh">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-warning"
                            data-bs-toggle="refresh"
                          >
                          </a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Maximize/Minimize">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-success"
                            data-bs-toggle="expand"
                          >
                          </a>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          class="avatar-text avatar-sm"
                          data-bs-toggle="dropdown"
                          data-bs-offset="25, 25"
                        >
                          <div data-bs-toggle="tooltip" title="Options">
                            <i class="feather-more-vertical"></i>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-at-sign"></i>New</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-calendar"></i>Event</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-bell"></i>Snoozed</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-trash-2"></i>Deleted</a
                          >
                          <div class="dropdown-divider"></div>
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-settings"></i>Settings</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-life-buoy"></i>Tips & Tricks</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div
                      class="table-responsive"
                      style="max-height: 500px; overflow-y: auto"
                    >
                      <table
                        class="table"
                        *ngIf="!isloadingproduit; else loader"
                      >
                        <thead>
                          <tr>
                            <th>Produit</th>
                            <th class="text-center">Prix total vendu</th>
                            <th class="text-center">Quantité</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let article of articles">
                            <td>
                              <div class="hstack gap-3">
                                <div class="avatar-image avatar-lg rounded">
                                  <img
                                    class="img-fluid"
                                    [src]="
                                      imageproduitArticle[article.produit_id]
                                    "
                                    alt=""
                                  />
                                </div>
                                <div>
                                  <a
                                    href="javascript:void(0);"
                                    class="d-block"
                                    >{{ getProduitName(article.produit_id) }}</a
                                  >
                                </div>
                              </div>
                            </td>
                            <td class="text-center">
                              {{
                                globalService.formatPrix(
                                  article.prix_total_vente
                                )
                              }}
                            </td>
                            <td class="text-center">{{ article.quantite }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <a
                    href="javascript:void(0);"
                    class="card-footer fs-11 fw-bold text-uppercase text-center"
                    >Voir plus</a
                  >
                </div>
              </div>

              <div class="col-xxl-6">
                <div class="card stretch stretch-full">
                  <div class="card-header bg-primary">
                    <h5 class="card-title text-white">
                      Benefices par produit vendu
                    </h5>
                    <div class="card-header-action">
                      <div class="card-header-btn">
                        <div data-bs-toggle="tooltip" title="Delete">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-danger"
                            data-bs-toggle="remove"
                          >
                          </a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Refresh">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-warning"
                            data-bs-toggle="refresh"
                          >
                          </a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Maximize/Minimize">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-success"
                            data-bs-toggle="expand"
                          >
                          </a>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          class="avatar-text avatar-sm"
                          data-bs-toggle="dropdown"
                          data-bs-offset="25, 25"
                        >
                          <div data-bs-toggle="tooltip" title="Options">
                            <i class="feather-more-vertical"></i>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-at-sign"></i>New</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-calendar"></i>Event</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-bell"></i>Snoozed</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-trash-2"></i>Deleted</a
                          >
                          <div class="dropdown-divider"></div>
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-settings"></i>Settings</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-life-buoy"></i>Tips & Tricks</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div
                      class="table-responsive"
                      style="max-height: 500px; overflow-y: auto"
                    >
                      <table
                        class="table"
                        *ngIf="!isloadingproduit; else loader"
                      >
                        <thead>
                          <tr>
                            <th>Produit</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Benefice</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let article of tbBenefices">
                            <td>
                              <div class="hstack gap-3">
                                <div class="avatar-image avatar-lg rounded">
                                  <img
                                    class="img-fluid"
                                    [src]="
                                      imageproduitArticle[article.produit_id]
                                    "
                                    alt=""
                                  />
                                </div>
                                <div>
                                  <a
                                    href="javascript:void(0);"
                                    class="d-block"
                                    >{{ getProduitName(article.produit_id) }}</a
                                  >
                                </div>
                              </div>
                            </td>
                            <td class="text-center">{{ article.quantite }}</td>
                            <td class="text-center">
                              {{ article.benefice }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <a
                    href="javascript:void(0);"
                    class="card-footer fs-11 fw-bold text-uppercase text-center"
                    >Voir plus</a
                  >
                </div>
              </div>

              <div class="col-xxl-6">
                <div class="card stretch stretch-full">
                  <div class="card-header bg-primary">
                    <h5 class="card-title text-white">
                      Top des meilleurs vendeurs
                    </h5>
                    <div class="card-header-action">
                      <div class="card-header-btn">
                        <div data-bs-toggle="tooltip" title="Delete">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-danger"
                            data-bs-toggle="remove"
                          >
                          </a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Refresh">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-warning"
                            data-bs-toggle="refresh"
                          >
                          </a>
                        </div>
                        <div data-bs-toggle="tooltip" title="Maximize/Minimize">
                          <a
                            href="javascript:void(0);"
                            class="avatar-text avatar-xs bg-success"
                            data-bs-toggle="expand"
                          >
                          </a>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          class="avatar-text avatar-sm"
                          data-bs-toggle="dropdown"
                          data-bs-offset="25, 25"
                        >
                          <div data-bs-toggle="tooltip" title="Options">
                            <i class="feather-more-vertical"></i>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-at-sign"></i>New</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-calendar"></i>Event</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-bell"></i>Snoozed</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-trash-2"></i>Deleted</a
                          >
                          <div class="dropdown-divider"></div>
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-settings"></i>Settings</a
                          >
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="feather-life-buoy"></i>Tips & Tricks</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="card-body custom-card-action"
                    style="max-height: 600px; overflow-y: auto"
                  >
                    <div
                      *ngFor="let user of topUsers"
                      class="hstack justify-content-between border border-dashed rounded-3 p-3 mb-3"
                    >
                      <div class="hstack gap-3">
                        <div class="avatar-image">
                          <img
                            [src]="imageUsers[user.utilisateur_id]"
                            alt=""
                            class="img-fluid"
                          />
                        </div>
                        <div>
                          <a href="javascript:void(0);"
                            >{{ user.prenom_utilisateur }}
                            {{ user.nom_utilisateur }}</a
                          >
                          <div class="fs-11 text-muted">{{ user.email }}</div>
                        </div>
                      </div>
                      <div>{{ user.ventesCount }} ventes</div>
                    </div>
                  </div>
                  <a
                    routerLink="/user/list"
                    class="card-footer fs-11 fw-bold text-uppercase text-center"
                  >
                    Voir plus
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
  <!-- [ Footer ] start -->
  <footer class="footer bg-light">
    <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
      <span>Copyright © 2024</span>
      <script
        data-cfasync="false"
        src="https://bestwpware.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
      ></script>
      <script>
        document.write(new Date().getFullYear());
      </script>
    </p>
    <div class="d-flex align-items-center gap-4">
      <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase"
        >Help</a
      >
      <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase"
        >Terms</a
      >
      <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase"
        >Privacy</a
      >
    </div>
  </footer>
  <!-- [ Footer ] end -->
</main>
<ng-template #loader>
  <div class="text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
