<div class="container-fluid" style="width: 45em;">
    <h1 class="mt-2 mb-2 fw-bold bg-light border p-2">Etat actuel de la caisse de l'utilisateur : <span class="mx-2 text-danger">{{user.nom_utilisateur}}</span></h1>
    <div class="row p-3">
        <div class="col-lg-6 bg-light border rounded rounded-4">
            <div class="mt-2">
                <span class="fw-bold">Date comptable : </span>
                <span class="fw-bold mx-2">{{this.date_comptable}}</span>
            </div>
            <div class="mt-2">
                <span class="fw-bold">Caisse : </span>
                <span class="fw-bold mx-2">{{this.caisse}}</span>
            </div>
        </div>
        <div class="col-lg-6 bg-light border rounded rounded-4">
            <div class="mt-2">
                <span class="fw-bold">Solde Ouverture : </span>
                <span class="fw-bold text-danger mx-2">{{globalService.formatPrixString(this.solde_ouverture)}}</span>
            </div>
            <div class="mt-2">
                <span class="fw-bold">Solde Fermeture : </span>
                <span class="fw-bold text-danger mx-2">{{globalService.formatPrixString(this.solde_fermeture)}}</span>
            </div>
            <div class="mt-2">
                <span class="fw-bold">Total versement : </span>
                <span class="fw-bold text-danger mx-2">{{globalService.formatPrixString(this.TotalVersements)}}</span>
            </div>
            <div class="mt-2">
                <span class="fw-bold">Total Retraits : </span>
                <span class="fw-bold text-danger mx-2">{{globalService.formatPrixString(this.TotalRetraits)}}</span>
            </div>
        </div>
    </div>
    <div class="mt-2 mb-3">
        <label class="fw-bold">Commentaire : </label>
      <div>
        <div class="form-floating">
            <textarea [disabled]="true" class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2"></label>
          </div>
      </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
            <button 
              class="form-control text-white" 
              [ngClass]="{ 'bg-delete': solde_confirme == false, 'bg-update': solde_confirme == true }">
              {{ solde_confirme == false ? 'Solde non confirmé' : 'Solde confirmé' }}
            </button>
          </div>
          
    </div>
</div>