<main class="nxl-container">
  <div class="nxl-content border">
    <div class="container-fuild p-5">
      <div class="row">
        <div class="border shadow rounded rounded-4 bg-white p-2">
          <h2 class="fw-bold">
            <span
              >{{
                action !== "edit"
                  ? "Ajouter une caisse vendeur"
                  : "Modifier la caisse :"
              }}
            </span>
            <span class="mx-1 title-bg-global-secondary"
              >{{ action == "edit" ? nom_caisse : "" }}
            </span>
          </h2>
        </div>
        <div class="col-12 mt-2">
          <form
            #userform="ngForm"
            (ngSubmit)="onSubmitForm(userform)"
            class="row border rounded rounded-4 bg-white shadow p-3 needs-validation"
          >
            <div class="col-lg-4">
              <label for="validationCustom01" class="form-label label"
                >Nom caisse
                <span class="title-bg-global-secondary"> * </span></label
              >
              <input
                type="text"
                class="form-control"
                name="nom_caisse"
                [(ngModel)]="nom_caisse"
              />
            </div>
            <div class="col-lg-4">
              <label for="validationCustom01" class="form-label label"
                >Solde de la caisse
                <span class="title-bg-global-secondary"> * </span></label
              >
              <input
                type="number"
                class="form-control"
                name="solde_caisse"
                [(ngModel)]="solde_caisse"
              />
            </div>
            <div class="col-lg-4">
              <label for="validationCustom01" class="form-label label"
                >Point de vente
                <span class="title-bg-global-secondary"> * </span></label
              >

              <select
                class="form-control form-select"
                name="point_de_vente_id"
                [(ngModel)]="point_de_vente_id"
              >
                <option
                  *ngFor="let option of tbPointdeVente"
                  [value]="option.point_de_vente_id"
                >
                  {{ option.nom }}
                </option>
              </select>
            </div>

            <div class="col-lg-6 mt-3">
              <label for="validationCustom01" class="form-label label"
                >Utilisateur</label
              >

              <select
                class="form-control form-select"
                name="utilisateur_id"
                [(ngModel)]="utilisateur_id"
              >
                <option
                  *ngFor="let option of tbUsers"
                  [value]="option.utilisateur_id"
                >
                  {{ option.nom_utilisateur }}
                </option>
              </select>
            </div>

            <div class="col-lg-6 mt-3">
              <label for="validationCustom01" class="form-label label"
                >Etat de la caisse</label
              >

              <select
                class="form-control form-select"
                name="actif"
                [(ngModel)]="actif"
              >
              <option [value]="1">Actif</option>
              <option [value]="0">Inactif</option>

              </select>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="col-lg-6 mt-3 mt-3">
                  <button
                    [disabled]="!isFormValid()"
                    type="submit"
                    class="form-control bg-global-primary text-white"
                  >
                    Valider <i class="fa-solid text-white mx-1 fa-pen"></i>
                  </button>
                </div>
              </div>
              <div class="col-lg-6 mt-3 text-end pt-3">
                <p>
                  NB : Les champs en
                  <span class="title-bg-global-secondary"> (*) </span> sont
                  obligatoire
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
