<main class="nxl-container">
  <div class="nxl-content">
    <div class="col-lg-8 m-lg-auto py-3 px-lg-5">
      <div class="row">
        <div class="col-12 mt-2">
          <form
            #userform="ngForm"
            (ngSubmit)="onSubmitForm(userform)"
            class="px-5 py-5 rounded rounded-4 bg-white needs-validation"
          >
            <div class="rounded rounded-4 row">
              <div class="col-lg-4 bg-light border rounded rounded-4 border-5">
                <div class="w-75 py-3 m-auto" style="height: 270px;max-height: 270px;">
                  <img
                    class="w-100 "
                    [src]="image"
                    *ngIf="image"
                  />
                </div>
                <input
                  type="file"
                  accept="image/*"
                  class="form-control"
                  (change)="onFileSelected($event)"
                  #fileInput
                  style="display: none"
                />
                <div class="w-25 m-auto p-3 rounded rounded-5 bg-dark border">
                  <img
                    (click)="triggerFileInput()"
                    class="w-100"
                    src="assets/images/signal-2024-12-09-060204_003.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-8 p-0">
                <div class="row ps-lg-4">
                  <div class="col-lg-6">
                    <label for="validationCustom01" class="form-label label"
                      >Nom
                      <span class="title-bg-global-secondary"> * </span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="nom_utilisateur"
                      [(ngModel)]="nom_utilisateur"
                    />
                  </div>

                  <div class="col-lg-6">
                    <label for="validationCustom01" class="form-label label"
                      >Prénom
                      <span class="title-bg-global-secondary"> * </span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="prenom_utilisateur"
                      [(ngModel)]="prenom_utilisateur"
                    />
                  </div>

                  <div class="col-lg-6 mt-3">
                    <label for="validationCustom01" class="form-label label">
                      Sexe <span class="title-bg-global-secondary"> * </span>
                    </label>
                    <select
                      class="form-control form-select"
                      name="sexe"
                      [(ngModel)]="sexe"
                    >
                      <option disabled>Sélectionner le sexe</option>
                      <option value="Homme">Homme</option>
                      <option value="Femme">Femme</option>
                    </select>
                  </div>

                  <div class="col-lg-6 mt-3">
                    <label for="validationCustom01" class="form-label label"
                      >Adresse</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="adresse"
                      [(ngModel)]="adresse"
                    />
                  </div>

                  <div class="col-lg-6 mt-3">
                    <label for="validationCustom01" class="form-label label"
                      >Nationalité</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="nationalite"
                      [(ngModel)]="nationalite"
                    />
                  </div>

                  <div class="col-lg-6 mt-3">
                    <label for="validationCustom01" class="form-label label">
                      Role <span class="title-bg-global-secondary"> * </span>
                    </label>
                    <div class="input-group">
                      <select
                        class="form-control form-select"
                        name="role"
                        [(ngModel)]="role"
                      >
                        <option
                          *ngFor="let roleOption of TabRole"
                          [value]="roleOption.nom_role"
                        >
                          {{ roleOption.nom_role }}
                        </option>
                      </select>
                      <label
                        class="input-group-text bg-primary text-white"
                        for="inputGroupSelect02"
                        ><i class="fa-solid fa-plus"></i
                      ></label>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <label for="validationCustom01" class="form-label label"
                      >Email <span class="title-bg-global-secondary"> * </span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="email"
                      [(ngModel)]="email"
                    />
                  </div>
      
                  <div class="col-lg-6">
                    <label for="validationCustom01" class="form-label label"
                      >Télephone
                      <span class="title-bg-global-secondary"> * </span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="telephone"
                      [(ngModel)]="telephone"
                    />
                  </div>

                </div>
              </div>
            </div>
     
          <div class="row mt-3">
            <div class="col-lg-4">
              <label for="validationCustom01" class="form-label label">
                Point de vente
                <span class="title-bg-global-secondary"> * </span>
              </label>
              <select
                class="form-control form-select"
                name="point_de_vente_id"
                [(ngModel)]="point_de_vente_id"
              >
                <option
                  *ngFor="let point of tbPointdeVente"
                  [value]="point.point_de_vente_id"
                >
                  {{ point.nom }}
                </option>
              </select>
            </div>
          </div>

            <div class="content mx-2 mt-3">
              <span class="text-on-border fw-bold fs-5">Permissions</span>
              <div class="row mt-3">
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Ventes</mat-checkbox
                  >
                </div>
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Produits</mat-checkbox
                  >
                </div>
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Stock</mat-checkbox
                  >
                </div>
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Analytics</mat-checkbox
                  >
                </div>
                <!-- <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Pepperoni</mat-checkbox
                  >
                </div>
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Pepperoni</mat-checkbox
                  >
                </div>
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Pepperoni</mat-checkbox
                  >
                </div>
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Pepperoni</mat-checkbox
                  >
                </div>
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Pepperoni</mat-checkbox
                  >
                </div>
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Pepperoni</mat-checkbox
                  >
                </div>
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Pepperoni</mat-checkbox
                  >
                </div>
                <div class="col-lg-3">
                  <mat-checkbox formControlName="pepperoni"
                    >Pepperoni</mat-checkbox
                  >
                </div> -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="col-lg-4 mt-3">
                  <button
                    [disabled]="!isFormValid()"
                    type="submit"
                    class="form-control bg-global-primary text-white"
                  >
                    Valider <i class="fa-solid text-white mx-1 fa-pen"></i>
                  </button>
                </div>
              </div>
              <div class="col-lg-6 mt-3 text-end pt-3">
                <p>
                  NB : Les champs en
                  <span class="title-bg-global-secondary"> (*) </span> sont
                  obligatoire
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
