<main class="nxl-container">
  <div class="nxl-content border rounded-4 shadow-sm">
    <div class="col-lg-8 mx-auto py-4 px-lg-5">
      <!-- En-tête avec bouton retour et titre -->
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
          <button class="btn btn-outline-secondary me-3" (click)="goBack()">
            <i class="fas fa-arrow-left"></i>
          </button>
          <h2 class="m-0 text-primary">Fiche client</h2>
        </div>

        <div class="d-flex gap-3">
          <button
            (click)="deleteClient()"
            class="btn btn-uniform-height btn-outline-danger"
          >
            <i class="fas fa-trash me-2"></i> Supprimer
          </button>
          <button
            (click)="updateClient()"
            class="btn btn-uniform-height btn-primary"
          >
            <i class="fas fa-pen me-2"></i> Modifier
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <form class="p-4 rounded-4 bg-white shadow-sm">
            <!-- Section Infos de base -->
            <div class="row g-3 mb-4">
              <div class="col-md-4">
                <label class="form-label fw-medium text-secondary">Nom</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="fas fa-user"></i
                  ></span>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control input-pro"
                    [(ngModel)]="client.nom"
                    name="client.nom"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <label class="form-label fw-medium text-secondary"
                  >Prénom</label
                >
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="fas fa-user"></i
                  ></span>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control input-pro"
                    [(ngModel)]="client.prenom"
                    name="client.prenom"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <label class="form-label fw-medium text-secondary">Sexe</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="fas fa-venus-mars"></i
                  ></span>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control input-pro"
                    [(ngModel)]="client.sexe"
                    name="client.sexe"
                  />
                </div>
              </div>
            </div>

            <!-- Section Coordonnées -->
            <div class="row g-3 mb-4">
              <div class="col-md-6">
                <label class="form-label fw-medium text-secondary"
                  >Adresse</label
                >
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="fas fa-map-marker-alt"></i
                  ></span>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control input-pro"
                    [(ngModel)]="client.adresse"
                    name="client.adresse"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <label class="form-label fw-medium text-secondary">Point de vente</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-store"></i
                      ></span>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control input-pro"
                    [value]="getPointName(client.point_de_vente_id)"
                    name="client.point_de_vente_id"
                  />
                </div>
              </div>

              

              <div class="col-md-6">
                <label class="form-label fw-medium text-secondary">Email</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="fas fa-envelope"></i
                  ></span>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control input-pro"
                    [(ngModel)]="client.email"
                    name="client.email"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <label class="form-label fw-medium text-secondary"
                  >Téléphone</label
                >
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="fas fa-phone"></i
                  ></span>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control input-pro"
                    [(ngModel)]="client.telephone"
                    name="client.telephone"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label fw-medium text-secondary"
                  >Date de création</label
                >
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="fas fa-calendar-plus"></i
                  ></span>
                  <input
                    readonly
                    type="text"
                    class="form-control input-pro"
                    [value]="globalService.formatDate(client.cree_le)"
                  />
                </div>
              </div>
            </div>
          </form>

          <!-- Section Historique des achats -->
          <div class="mt-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h3 class="text-primary m-0">
                <i class="fas fa-history me-2"></i>Historique des articles
                achetés
              </h3>
              <button
                (click)="imprimer()"
                class="btn btn-uniform-height btn-primary"
              >
                <i class="fas fa-print me-2"></i>Imprimer l'historique
              </button>
            </div>

            <div
              class="mat-elevation-z8"
              style="max-height: 400px; overflow-y: auto"
            >
              <table mat-table [dataSource]="dataSource">
                <!-- Colonnes du tableau -->
                <ng-container matColumnDef="produit_nom">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Produit
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.produit_nom }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="quantite">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Quantité
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.quantite }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="prix_unitaire">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Prix unitaire
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ globalService.formatPrix(element.prix_unitaire) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="prix_total_vente">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Prix vente
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ globalService.formatPrix(element.prix_total_vente) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="point_de_vente_id">
                  <th
                    class="bg-color-primary"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Point de vente
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ getPointName(element.point_de_vente_id) }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
